# WikiArt dataset cleaning, extending

WikiArt: all art pieces stored as a picture in Wikipedia (till a certain date).<br>
Original gathering and steps is in the *datasets/originals/wikiart_initial.ipynb* file. This file contains the updates since 2024.02.05.

In [ ]:
import pandas as pd
import numpy as np
import helper_functions

artists_wikiart = pd.read_csv('https://raw.githubusercontent.com/me9hanics/PainterPalette/main/datasets/wikiart_artists.csv')

## TODO: Collect the "has works in the collection" property (P6379) for all artists

## Version 1.1: Update 2025.01.23: Requery attributes with Wikidata

The updated Wikidata SparQL wrapper library has been greatly improved (restricting to human instances, more high-level functions, only using significantly common responses e.g. in occupations), with this both datasets can be updated to be more accurate.

In [ ]:
import httpimport
with httpimport.remote_repo('https://raw.githubusercontent.com/me9hanics/sparql-wikidata-data-collection/main/'):
    import functions as external_functions

artists = list(artists_wikiart['artist'])
results = external_functions.get_multiple_people_all_info_fast_retry_missing(artists, delays=[2, 10, 60])

In [ ]:
attributes = ['birth_place', 'birth_date', 'death_place', 'death_date', 'gender', 'citizenship', 'occupation', 'locations', 'location_dates']
for attribute in attributes:
    artists_wikiart.loc[:, attribute] = None

for result in results:
    for attribute in attributes:
        value = result[attribute]
        if attribute=="location_dates":
            value = str(value)
        artists_wikiart.loc[artists_wikiart['artist'] == result['name'], attribute] = value

date_gathering = lambda x: external_functions.get_places_with_years_from_response(x, return_type="string") if x is not None else None
artists_wikiart['locations_with_years'] = artists_wikiart['location_dates'].apply(date_gathering)
artists_wikiart['birth_year']=artists_wikiart['birth_date'].apply(external_functions.find_year)
artists_wikiart['death_year']=artists_wikiart['death_date'].apply(external_functions.find_year)
artists_wikiart['occupations'] = artists_wikiart['occupation']
artists_wikiart.drop(['occupation', 'location_dates', 'birth_date', 'death_date'], axis=1, inplace=True)
artists_wikiart.replace('', None, inplace=True)

artists_wikiart.to_csv('datasets/wikiart_artists.csv', index=False)
artists_wikiart.to_csv('datasets/saves/wikiart_artists_1_1.csv', index=False)

## Update 2024.10.27: Combine two instances for Leonid Šejka

In [2]:
artists_wikiart = pd.read_csv('https://raw.githubusercontent.com/me9hanics/PainterPalette/main/datasets/wikiart_artists.csv')
artists_wikiart = helper_functions.wikiart_combine_instances(artists_wikiart, "Leonid Šejka" ,"Leonid Sejka").reset_index(drop=True)
artists_wikiart.to_csv('datasets/wikiart_artists.csv', index=False)

## Update 2024.05.08 - Requery one painter

In [ ]:
import pandas as pd
import httpimport


with httpimport.remote_repo('https://raw.githubusercontent.com/me9hanics/sparql-wikidata-data-collection/main/'):
    import functions as external_functions

artists_wikiart = pd.read_csv('https://raw.githubusercontent.com/me9hanics/PainterPalette/main/datasets/wikiart_artists.csv')

In [2]:
result = external_functions.get_all_person_info_by_id("Q52498153")
i = artists_wikiart[artists_wikiart['artist']=='Giovanni Costa'].index[0]

artists_wikiart.loc[i, 'birth_place'] = result['birth_place']
artists_wikiart.loc[i, 'birth_year'] = external_functions.find_year(result['birth_date'])
artists_wikiart.loc[i, 'death_place'] = result['death_place']
artists_wikiart.loc[i, 'death_year'] = external_functions.find_year(result['death_date'])
artists_wikiart.loc[i, 'citizenship'] = 'Kingdom of Italy'
artists_wikiart.loc[i, 'occupations'] = "painter"
artists_wikiart.loc[i, 'locations'] = "['Florence', 'Italy']"

In [3]:
artists_wikiart.to_csv('datasets/wikiart_artists.csv', index=False)

## Update 2024.02.12-14: Check for birth_year and birth_place mistakes

 (e.g., 385: William Scott)

In [1]:
import pandas as pd
import httpimport


with httpimport.remote_repo('https://raw.githubusercontent.com/me9hanics/sparql-wikidata-data-collection/main/'):
    import functions as external_functions

artists_wikiart = pd.read_csv('https://raw.githubusercontent.com/me9hanics/PainterPalette/main/datasets/wikiart_artists.csv')

Let's first look through artists that don't have a birth year data, and try to update many of their data:

In [143]:
for i,row in artists_wikiart[artists_wikiart['birth_year'].isnull()].iterrows():
    response = external_functions.get_all_person_info(row['artist'], delay=121)
    #if row['artist'] == 'Adnan Coker':
    #    print(response)
    #    if response:
    #        print("True response")
    #        if 'birth_date' in response.keys():
    #            print("birth_date in keys")
    #            print("Birth_date:" + response['birth_date'])
    if response:
        if 'birth_date' in response.keys() and response['birth_date']:
            artists_wikiart.at[i, 'birth_year'] = external_functions.find_year(response['birth_date'])
        if 'death_date' in response.keys() and response['death_date']:
            artists_wikiart.at[i, 'death_year'] = external_functions.find_year(response['death_date'])
        if 'birth_place' in response.keys() and response['birth_place']:
            artists_wikiart.at[i, 'birth_place'] = response['birth_place']
        if 'death_place' in response.keys() and response['death_place']:
            artists_wikiart.at[i, 'death_place'] = response['death_place']

Error fetching data for [ a y s h ], status code: 429.
Attempt 1 of 3.
Error fetching data for Victor Zaretsky, status code: 429.
Attempt 1 of 3.
Error fetching data for John Vassos, status code: 429.
Attempt 1 of 3.
Error fetching data for Elisabeth Sonrel, status code: 429.
Attempt 1 of 3.
Error fetching data for Simon Ushakov, status code: 429.
Attempt 1 of 3.
Error fetching data for Fusun Onur, status code: 429.
Attempt 1 of 3.
Error fetching data for Gazmend Freitag, status code: 429.
Attempt 1 of 3.
Error fetching data for Sun Mu, status code: 429.
Attempt 1 of 3.
Error fetching data for Sami Gattoufi, status code: 429.
Attempt 1 of 3.
Error fetching data for Oswaldo Guayasamin, status code: 429.
Attempt 1 of 3.
Error fetching data for Stefan Sevastre, status code: 429.
Attempt 1 of 3.
Error fetching data for Jon Mcnaughton, status code: 429.
Attempt 1 of 3.
Error fetching data for Ha Chong-Hyun, status code: 429.
Attempt 1 of 3.
Error fetching data for Martha Diamond, status code: 429.
Attempt 1 of 3.
Error fetching data for Armin Andreas Pangerl, status code: 429.
Attempt 1 of 3.
Error fetching data for Umehara Ryuzaburo, status code: 429.
Attempt 1 of 3.
Error fetching data for Vartan Mahokian, status code: 429.
Attempt 1 of 3.
Error fetching data for Johann Koler, status code: 429.
Attempt 1 of 3.
Error fetching data for Oleksandr Pashenko, status code: 429.
Attempt 1 of 3.
Error fetching data for Mariojosé Ángeles, status code: 429.
Attempt 1 of 3.

### --Save-- 2024.02.13 0:49 GMT

In [150]:
artists_wikiart.to_csv('datasets/wikiart_artists.csv', index=False)

### --Continue-- 2024.02.14

In [2]:
artists_wikiart[artists_wikiart['birth_year'].isnull()]

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
22,Babak-Matveev,"Abstract Art, Digital Art, Neo-Pop Art, Pop Art",Neo-Pop Art,"{Abstract Art:1},{Digital Art:5},{Neo-Pop Art:...",69,NaN,NaN,NaN,NaN,male,Russia,painter,[],[]
61,Georges Troubat,Abstract Art,Abstract Art,{Abstract Art:12},12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Jose de Almada-Negreiros,"Abstract Art, Art Deco, Art Nouveau (Modern), ...",Art Nouveau,"{Abstract Art:4},{Art Deco:13},{Art Nouveau (M...",33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Rashid Al Khalifa,"Abstract Art, Contemporary Realism, Expression...",Contemporary Realism,"{Abstract Art:18},{Contemporary Realism:6},{Ex...",50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Thiago Boecan,"Abstract Art, Cubo-Expressionism, Geometric, N...",Abstract Art,"{Abstract Art:7},{Cubo-Expressionism:1},{Geome...",37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3037,Viktor Shatalin,Socialist Realism,Socialist Realism,{Socialist Realism:18},18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3055,Phase 2,Street art,Street art,{Street art:13},13,NaN,NaN,2019.0,New York City,male,United States of America,"graffiti artist, painter",[],[]
3129,The Game of Marseille,Surrealism,Surrealism,{Surrealism:17},17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
3189,Nieves Mingueza,Unknown,Feminist Art,{Unknown:20},20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3199,Vudon Baklytsky,Unknown,Soviet Nonconformist Art,{Unknown:46},46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, let's look at artists with birth year difference over 100 years:

In [3]:
mischevious_artists_df = pd.DataFrame(columns = artists_wikiart.columns)
missing_birth_years = []
for i, row in artists_wikiart.iterrows():
    birth_year = row['birth_year']
    death_year = row['death_year'] if row['death_year'] else 2024
    if birth_year:
        if death_year-birth_year>100:
            mischevious_artists_df = pd.concat([mischevious_artists_df, pd.DataFrame(row).transpose()])
    else:
        missing_birth_years.append(row['artist'])
    
mischevious_artists_df

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
86,Jean David,"Abstract Art, Constructivism, Cubism, Expressi...",Surrealism,"{Abstract Art:1},{Constructivism:6},{Cubism:25...",85,Bucharest,1908.0,2013.0,15th arrondissement of Paris,male,France,"poet, politician, illustrator, painter, design...",['Paris'],[]
133,Paul Nash,"Abstract Art, Cubism, Dada, Expressionism, Sur...",Abstract Art,"{Abstract Art:7},{Cubism:31},{Dada:1},{Express...",133,Kensington,1889.0,2005.0,Manhattan,male,United States of America,"musician, jazz guitarist, music teacher, photo...",['London'],[]
264,Hedda Sterne,"Abstract Expressionism, Conceptual Art, Cubism...",Surrealism,"{Abstract Expressionism:11},{Conceptual Art:1}...",40,Bucharest,1910.0,2011.0,New York City,female,United States of America,"artist, painter, sculptor, drawer",[],[]
373,Toko Shinoda,Abstract Expressionism,Abstract Art,{Abstract Expressionism:26},26,Dalian,1913.0,2021.0,Ome,female,Japan,"lithographer, essayist, painter, engraver",[],[]
386,William Scott,"Abstract Expressionism, Expressionism",Abstract Expressionism,"{Abstract Expressionism:26},{Expressionism:15}",41,Glasgow,1785.0,1919.0,Melbourne,male,United Kingdom of Great Britain and Ireland,"drawer, painter","['Bath', 'London', 'Scotland', 'South Australia']",[]
651,Karl Otto Gotz,Art Informel,Abstract Art,{Art Informel:14},14,Aachen,1914.0,2017.0,Niederbreitbach,male,Germany,"photographer, painter, university teacher, gra...","['Aachen', 'Düsseldorf']",[]
741,Felice Casorati,"Art Nouveau (Modern), Expressionism, Metaphysi...",Metaphysical art,"{Art Nouveau (Modern):5},{Expressionism:14},{M...",30,Pavia,1835.0,1963.0,Turin,male,Italy,"painter, sculptor, graphic artist, designer","['Rome', 'Venice', 'Turin', 'Padua']","['Rome:1907-1909', 'Venice:1907-1915', 'Turin:..."
827,Richard Gerstl,"Art Nouveau (Modern), Expressionism, Pointilli...",Expressionism,"{Art Nouveau (Modern):12},{Expressionism:39},{...",75,Vienna,1883.0,2017.0,Basel,male,Switzerland,"painter, artist, graphic designer, typographer...","['Vienna', 'Gmunden', 'Düsseldorf']",[]
930,Ivan Rutkovych,Baroque,Byzantine Art,{Baroque:15},15,Zolochiv Raion,1650.0,1800.0,NaN,male,NaN,"iconographer, painter",[],[]
997,Rembrandt,"Baroque, Tenebrism, Unknown",Baroque,"{Baroque:587},{Tenebrism:128},{Unknown:52}",767,Leiden,1606.0,2001.0,Amsterdam,male,Dutch Republic,"painter, collector, art collector, etcher, pri...","['Amsterdam', 'Leiden']","['Amsterdam:1623-1625,1631-1669', 'Leiden:1625..."
1026,Josef Kriehuber,"Biedermeier, Realism, Unknown",Realism,"{Biedermeier:129},{Realism:2},{Unknown:32}",163,Vienna,1800.0,1905.0,Vienna,male,Austria,"painter, graphic artist, visual artist, lithog...",['Vienna'],[]
1073,Rupprecht Geiger,"Color Field Painting, Minimalism",Post-Painterly Abstraction,"{Color Field Painting:21},{Minimalism:3}",24,Munich,1908.0,2009.0,Munich,male,Germany,"architect, painter, sculptor, university teach...",['Düsseldorf'],[]
1407,Max Oppenheimer,"Cubism, Expressionism, Futurism",Expressionism,"{Cubism:1},{Expressionism:13},{Futurism:2}",16,Vienna,1885.0,1994.0,NaN,male,Germany,"journalist, entrepreneur, broker, real estate ...","['Zürich', 'Bern', 'Berlin', 'Prague', 'Geneva...","['Zürich:1916-1917', 'Bern:1915-1915', 'Berlin..."
1426,Robert Falk,"Cubism, Expressionism, Impressionism, Unknown",Art Nouveau,"{Cubism:4},{Expressionism:19},{Impressionism:2...",28,Moscow,1886.0,2007.0,Garmisch-Partenkirchen,male,Germany,"novelist, writer, drawer, visual artist, painter",[],[]
1481,Antonello da Messina,"Early Renaissance, Unknown",Early Renaissance,"{Early Renaissance:32},{Unknown:9}",41,Messina,1430.0,1535.0,Messina,male,NaN,painter,['Messina'],[]
1531,Francis Bacon,"Excessivism, Expressionism, Unknown",Expressionism,"{Excessivism:1},{Expressionism:235},{Unknown:89}",325,London,1561.0,1977.0,Madrid,male,Kingdom of England,"lawyer, writer, judge, scientist, philosopher,...","['Berlin', 'London', 'Tangier', 'Paris', 'Mont...",[]
1731,Wayne Thiebaud,"Expressionism, New Realism, Pop Art",Pop Art,"{Expressionism:8},{New Realism:5},{Pop Art:44}",57,Mesa,1920.0,2021.0,Sacramento,male,United States of America,"illustrator, painter, cartoonist, sculptor, un...","['Sacramento', 'Los Angeles', 'San Francisco',...",[]
1734,Will Barnet,"Expressionism, Indian Space painting, Pop Art,...",Abstract Expressionism,"{Expressionism:8},{Indian Space painting:53},{...",181,Beverly,1911.0,2012.0,New York City,male,United States of America,"painter, printmaker",['Ethiopia'],[]
1741,Ernst Fuchs,"Fantastic Realism, Unknown",Surrealism,"{Fantastic Realism:66},{Unknown:1}",67,Kritzendorf,1851.0,1983.0,Heilbronn,male,Germany,"theologian, university teacher","['Tübingen', 'Marburg']",[]
1754,Armand Guillaumin,"Fauvism, Impressionism",Impressionism,"{Fauvism:7},{Impressionism:52}",59,Paris,1841.0,2018.0,Potsdam,male,Kingdom of the Netherlands,"writer, poet, painter, violinist, sculptor, ce...",['Amsterdam'],[]
1990,Medi Wechsler Dinu,"Impressionism, Post-Impressionism",Impressionism,"{Impressionism:13},{Post-Impressionism:6}",19,Brezoi,1908.0,2016.0,Bucharest,female,Romania,painter,[],[]
2020,Robert Spencer,"Impressionism, Post-Impressionism",Impressionism,"{Impressionism:79},{Post-Impressionism:8}",87,Althorp,1570.0,1964.0,NaN,male,United Kingdom,"painter, politician, ornithologist, bird watch...","['London', 'Denver', 'Ann Arbor']",[]
2081,Wang Wei,Ink and wash painting,Tang Dynasty (618–907),{Ink and wash painting:4},4,Wafangdian,584.0,761.0,Chang'an,male,Tang dynasty,"calligrapher, painter, musician, politician, p...",[],[]
2196,Pierre Roy,"Magic Realism, Surrealism",Magic Realism,"{Magic Realism:12},{Surrealism:8}",20,Nantes,1880.0,1984.0,La Chapelle-Palluau,male,France,politician,['Paris'],[]
2230,Jan Groth,Minimalism,Minimalism,{Minimalism:15},15,Bielsko-Biała,1921.0,2022.0,Oslo,male,Norway,"drawer, designer, painter",[],[]
2249,Pierre Soulages,"Minimalism, Tachisme",Abstract Art,"{Minimalism:19},{Tachisme:20}",39,Rodez,1919.0,2022.0,Centre Hospitalier Universitaire De Nîmes,male,France,"engraver, illustrator, painter, sculptor, grap...","['Liège', 'Paris', 'Courbevoie', 'Sète']",[]
2403,Abraham van Strij,Neoclassicism,Neoclassicism,{Neoclassicism:38},38,Dordrecht,1753.0,1908.0,Dordrecht,male,Kingdom of the Netherlands,painter,['Dordrecht'],['Dordrecht:1871-1908']
2467,William Hamilton,"Neoclassicism, Rococo, Unknown",Neoclassicism,"{Neoclassicism:42},{Rococo:2},{Unknown:4}",48,Scoonie,1721.0,1861.0,Eldsberga,male,United States of America,"athletics competitor, association football pla...","['Springfield', 'London', 'Naples', 'Ottawa', ...",['Rome:1767-1767']
2550,John Frederick Lewis,"Orientalism, Romanticism",Orientalism,"{Orientalism:77},{Romanticism:39}",116,London,1805.0,1932.0,NaN,male,NaN,lawyer,['Philadelphia'],['Philadelphia:1885-1932']
2565,Clementine Hunter,Outsider art,Outsider art (Art brut),{Outsider art:24},24,Louisiana,1886.0,1988.0,Natchitoches,female,United States of America,"painter, artist",[],[]
2574,Clarence White,Pictorialism,Pictorialism,{Pictorialism:39},39,Newark,1871.0,1973.0,Palmdale,male,United States of America,"mandolinist, guitarist, musician, singer-songw...",[],[]
2722,Antonio Mancini,"Realism, Verism",Impressionism,"{Realism:1},{Verism:22}",23,Albano Laziale,1852.0,1982.0,Rome,male,Kingdom of Italy,"painter, portraitist, politician","['Italy', 'Rome']",[]
2749,Fyodor Vasilyev,Realism,Realism,{Realism:119},119,Shuya,1707.0,1994.0,NaN,male,NaN,"historian, ethnographer",['Sakha'],[]
2828,Hubert Robert,Rococo,Rococo,{Rococo:39},39,Modena,1509.0,1808.0,Paris,male,France,"architect, curator, painter, drawer","['Rome', 'Paris']","['Rome:1754-1765', 'Paris:1772-1779,1780-1784']"
2837,John Russell,Rococo,Rococo,{Rococo:36},36,Brooklyn,1710.0,1930.0,Sydney,male,Australia,"painter, politician, pastellist","['Paris', 'Washington, D.C.', 'Jefferson City'...",[]
2850,William Williams,Rococo,Rococo,{Rococo:25},25,Connecticut,1705.0,1896.0,Warsaw,male,United States of America,"lawyer, politician, diplomat, businessperson, ...","['Washington, D.C.', 'London', 'Monmouth', 'Tr...","['Merthyr Tydfil:1789-1819', 'Brecon:1820-1820..."
2877,Charles Turner,Romanticism,Romanticism,{Romanticism:230},230,Somersby,1774.0,1993.0,NaN,male,Canada,"politician, printmaker, drawer","['Ottawa', 'London']",[]
2920,Hermann Ottomar Herzog,Romanticism,Romanticism,{Romanticism:51},51,Bremen,1831.0,1932.0,Philadelphia,male,Germany,painter,[],[]
2950,Karl Lessing,"Romanticism, Unknown",Romanticism,"{Romanticism:39},{Unknown:1}",40,Wrocław,1808.0,1917.0,Berlin,male,Kingdom of Prussia,"high school teacher, classical philologist","['Berlin', 'Karlsruhe', 'Düsseldorf']","['Berlin:1827-1827', 'Karlsruhe:1857-1880', 'D..."
3005,William Collins,"Romanticism, Unknown",Romanticism,"{Romanticism:69},{Unknown:7}",76,London,1824.0,1947.0,Slough,male,United Kingdom of Great Britain and Ireland,"etcher, painter","['Netherlands', 'Washington, D.C.', 'London', ...",['Netherlands:1828-1828']
3082,Dorothea Tanning,Surrealism,Surrealism,{Surrealism:41},41,Galesburg,1910.0,2012.0,Manhattan,female,United States of America,"writer, poet, artist, illustrator, painter, sc...","['Paris', 'London', 'New York City']",[]

Some painters got the response of another person with the same name, such as 'Jean David':

In [7]:
external_functions.get_person_info_retry_after('Jean David', occupation_return=False), external_functions.get_all_person_info_by_id('Q1685473')

({'name': 'Jean David',
  'birth_place': 'Lambézellec',
  'birth_date': '1924-03-01T00:00:00Z',
  'death_date': '2013-05-08T00:00:00Z',
  'death_place': '15th arrondissement of Paris',
  'gender': 'male',
  'citizenship': 'France',
  'occupation': [],
  'work_locations': [{'location': 'Paris',
    'start_time': None,
    'end_time': None,
    'point_in_time': None}]},
 {'id': 'Q1685473',
  'name': 'Jean David',
  'birth_place': None,
  'birth_date': '1908-12-16T00:00:00Z',
  'death_date': '1993-03-26T00:00:00Z',
  'death_place': 'Tel Aviv',
  'gender': 'male',
  'citizenship': 'Israel',
  'occupation': ['designer', 'painter', 'illustrator'],
  'work_locations': []})

Let's collect artists for whom, we are certain we gathered the wrong person's birth data. (Most of the times, we can just tell from the occupations).

In [5]:
import numpy as np

painter_entity_dict = {
    'Jean David': 'Q1685473',
    'Paul Nash': 'Q727643',
    'William Scott': 'Q257928',
    'Felice Casorati': 'Q574616',
    'Richard Gerstl': 'Q129113',
    'Robert Falk': 'Q662323',
    'Max Oppenheimer': 'Q216480',
    'Ernst Fuchs': 'Q112856',
    'Armand Guillaumin':'Q436844',
    'Robert Spencer':'Q17557326',
    'Pierre Roy': 'Q1347013',
    'Wang Wei': 'Q313605',
    'Abraham van Strij':'Q2277410',
    'William Hamilton': 'Q15472',
    'John Frederick Lewis':'Q1391078',
    'Clarence White':'Q942472',
    'Antonio Mancini':'Q603148',
    'Fyodor Vasilyev': 'Q1422249',
    'Hubert Robert':'Q548205',
    'John Russell':'Q6255995',
    'William Williams':'Q3569029',
    'Karl Lessing':'Q821537',
    'Charles Turner':'Q5083052',
    'William Collins':'Q2623883'
}


for artist, entity in painter_entity_dict.items():
    response = external_functions.get_all_person_info_by_id(entity, delay=121)
    if response:
        if 'birth_date' in response.keys() and response['birth_date']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'birth_year'] = external_functions.find_year(response['birth_date'])
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'birth_year'] = np.nan
        if 'death_date' in response.keys() and response['death_date']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'death_year'] = external_functions.find_year(response['death_date'])
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'death_year'] = np.nan
        if 'birth_place' in response.keys() and response['birth_place']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'birth_place'] = response['birth_place']
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'birth_place'] = None
        if 'death_place' in response.keys() and response['death_place']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'death_place'] = response['death_place']
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'death_place'] = None
        if 'gender' in response.keys() and response['gender']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'gender'] = response['gender']
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'gender'] = None
        if 'citizenship' in response.keys() and response['citizenship']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'citizenship'] = response['citizenship']
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'citizenship'] = None
        if 'occupation' in response.keys() and response['occupation']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'occupations'] = ', '.join((response['occupation']))
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'occupations'] = None
        if 'work_locations' in response.keys() and response['work_locations']:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'locations'] = external_functions.get_places_from_response(response)
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'locations_with_years'] = external_functions.get_places_with_years_from_response(response)
        else:
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'locations'] = None
            artists_wikiart.at[artists_wikiart[artists_wikiart['artist']==artist].index[0], 'locations_with_years'] = None
    else:
        print(artist)

Error fetching data for Q1347013, status code: 429.
Attempt 1 of 3.
Error fetching data for Q3569029, status code: 429.
Attempt 1 of 3.

In [8]:
artists_wikiart[artists_wikiart['artist'].isin(painter_entity_dict.keys())][:5]

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
86,Jean David,"Abstract Art, Constructivism, Cubism, Expressi...",Surrealism,"{Abstract Art:1},{Constructivism:6},{Cubism:25...",85,Bucharest,1908.0,1993.0,Tel Aviv,male,Israel,"designer, painter, illustrator",None,None
133,Paul Nash,"Abstract Art, Cubism, Dada, Expressionism, Sur...",Abstract Art,"{Abstract Art:7},{Cubism:31},{Dada:1},{Express...",133,Kensington,1889.0,1946.0,Boscombe,male,United Kingdom,"printmaker, designer, painter, illustrator, ph...",['London'],[]
386,William Scott,"Abstract Expressionism, Expressionism",Abstract Expressionism,"{Abstract Expressionism:26},{Expressionism:15}",41,Greenock,1913.0,1989.0,Bath,male,United Kingdom of Great Britain and Ireland,"drawer, painter","['Bath', 'London', 'Scotland']",[]
741,Felice Casorati,"Art Nouveau (Modern), Expressionism, Metaphysi...",Metaphysical art,"{Art Nouveau (Modern):5},{Expressionism:14},{M...",30,Novara,1883.0,1963.0,Turin,male,Kingdom of Italy,"designer, graphic artist, sculptor, painter","['Rome', 'Venice', 'Turin', 'Padua']","['Rome:1907-1909', 'Venice:1907-1915', 'Turin:..."
827,Richard Gerstl,"Art Nouveau (Modern), Expressionism, Pointilli...",Expressionism,"{Art Nouveau (Modern):12},{Expressionism:39},{...",75,Vienna,1883.0,1908.0,Vienna,male,Austria-Hungary,painter,"['Vienna', 'Gmunden']",[]

In [25]:
external_functions.get_all_person_info_by_id('Q154340', delay=121)

{'name': 'Francis Bacon',
 'birth_place': 'Dublin',
 'birth_date': '1909-10-28T00:00:00Z',
 'death_date': '1992-04-28T00:00:00Z',
 'death_place': 'Madrid',
 'gender': 'male',
 'citizenship': 'United Kingdom',
 'occupation': ['designer', 'painter'],
 'work_locations': [{'location': 'Berlin',
   'start_time': None,
   'end_time': None,
   'point_in_time': None},
  {'location': 'London',
   'start_time': None,
   'end_time': None,
   'point_in_time': None},
  {'location': 'Tangier',
   'start_time': None,
   'end_time': None,
   'point_in_time': None},
  {'location': 'Paris',
   'start_time': None,
   'end_time': None,
   'point_in_time': None},
  {'location': 'Monte Carlo',
   'start_time': None,
   'end_time': None,
   'point_in_time': None}]}

This worked well.<br>
Manual modifications (`.iloc[0]` in the end is redundant):

In [26]:
artists_wikiart.loc[artists_wikiart['artist'] == 'Ivan Rutkovych', 'death_year'] = 1708
artists_wikiart.loc[artists_wikiart['artist'] == 'Ivan Rutkovych', 'locations'] = "['Zhovkva', 'Univ', 'Lviv', 'Ukraine']"
artists_wikiart.loc[artists_wikiart['artist'] == 'Ivan Rutkovych', 'citizenship'] = "Ukraine"
artists_wikiart.loc[artists_wikiart['artist'] == 'Rembrandt', 'death_year'] = 1669
artists_wikiart.loc[artists_wikiart['artist'] == 'Josef Kriehuber', 'death_year'] = 1876
artists_wikiart.loc[artists_wikiart['artist'] == 'Josef Kriehuber', 'locations'] = "['Vienna', 'Austria']"
artists_wikiart.loc[artists_wikiart['artist'] == 'Antonello da Messina', 'death_year'] = 1479
artists_wikiart.loc[artists_wikiart['artist'] == 'Antonello da Messina', 'locations'] = "['Messina', 'Naples', 'Venice', 'Italy']"
artists_wikiart.loc[artists_wikiart['artist'] == 'Antonello da Messina', 'locations_with_years'] = "['Messina:1455-1479', 'Naples:1450-1455', 'Venice:1475-1476']"
#artists_wikiart.loc[artists_wikiart['artist'] == 'Antonello da Messina', 'birth_year'] = 1430
#artists_wikiart.loc[artists_wikiart['artist'] == 'Antonello da Messina', 'birth_place'] = "Messina, Italy"
artists_wikiart.loc[artists_wikiart['artist'] == 'Francis Bacon', 'birth_year'] = 1909
artists_wikiart.loc[artists_wikiart['artist'] == 'Francis Bacon', 'birth_place'] = "Dublin"
artists_wikiart.loc[artists_wikiart['artist'] == 'Francis Bacon', 'citizenship'] = "Republic of Ireland"
artists_wikiart.loc[artists_wikiart['artist'] == 'Francis Bacon', 'occupations'] = "designer, painter"

artists_wikiart.loc[artists_wikiart['artist'] == 'Jan Groth', 'birth_place'] = "Stavanger, Norway"
artists_wikiart.loc[artists_wikiart['artist'] == 'Jan Groth', 'birth_year'] = 1938

In [27]:
artists_wikiart[artists_wikiart['artist'].isin(mischevious_artists_df['artist'])][8:16]

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
930,Ivan Rutkovych,Baroque,Byzantine Art,{Baroque:15},15,Zolochiv Raion,1650.0,1708.0,NaN,male,Ukraine,"iconographer, painter","['Zhovkva', 'Univ', 'Lviv', 'Ukraine']",[]
997,Rembrandt,"Baroque, Tenebrism, Unknown",Baroque,"{Baroque:587},{Tenebrism:128},{Unknown:52}",767,Leiden,1606.0,1669.0,Amsterdam,male,Dutch Republic,"painter, collector, art collector, etcher, pri...","['Amsterdam', 'Leiden']","['Amsterdam:1623-1625,1631-1669', 'Leiden:1625..."
1026,Josef Kriehuber,"Biedermeier, Realism, Unknown",Realism,"{Biedermeier:129},{Realism:2},{Unknown:32}",163,Vienna,1800.0,1876.0,Vienna,male,Austria,"painter, graphic artist, visual artist, lithog...","['Vienna', 'Austria']",[]
1073,Rupprecht Geiger,"Color Field Painting, Minimalism",Post-Painterly Abstraction,"{Color Field Painting:21},{Minimalism:3}",24,Munich,1908.0,2009.0,Munich,male,Germany,"architect, painter, sculptor, university teach...",['Düsseldorf'],[]
1407,Max Oppenheimer,"Cubism, Expressionism, Futurism",Expressionism,"{Cubism:1},{Expressionism:13},{Futurism:2}",16,Vienna,1885.0,1954.0,New York City,male,Austria,"designer, graphic artist, painter","['Zürich', 'Bern', 'Berlin', 'Prague', 'Geneva...","['Zürich:1916-1917', 'Bern:1915-1915', 'Berlin..."
1426,Robert Falk,"Cubism, Expressionism, Impressionism, Unknown",Art Nouveau,"{Cubism:4},{Expressionism:19},{Impressionism:2...",28,Moscow,1886.0,1958.0,Moscow,male,Russian Empire,"drawer, visual artist, painter",None,None
1481,Antonello da Messina,"Early Renaissance, Unknown",Early Renaissance,"{Early Renaissance:32},{Unknown:9}",41,Messina,1430.0,1479.0,Messina,male,NaN,painter,"['Messina', 'Naples', 'Venice', 'Italy']","['Messina:1455-1479', 'Naples:1450-1455', 'Ven..."
1531,Francis Bacon,"Excessivism, Expressionism, Unknown",Expressionism,"{Excessivism:1},{Expressionism:235},{Unknown:89}",325,Dublin,1909.0,1977.0,Madrid,male,Republic of Ireland,"designer, painter","['Berlin', 'London', 'Tangier', 'Paris', 'Mont...",[]

Save, and create `wikiart_artists_1.csv`:

In [29]:
artists_wikiart.to_csv('datasets/wikiart_artists.csv', index=False)
artists_wikiart.to_csv('datasets/saves/wikiart_artists_1.csv', index=False)

## Update 2024.02.08-12: Gather more information on painters via the Wikidata API

We take the current list of painters:

In [1]:
import pandas as pd

artists_wikiart = pd.read_csv('https://raw.githubusercontent.com/me9hanics/PainterPalette/main/datasets/wikiart_artists.csv')
artists_wikiart

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
0,Ad Reinhardt,"Abstract Art, Abstract Expressionism, Color Fi...",Abstract Expressionism,"{Abstract Art:15},{Abstract Expressionism:5},{...",52,Buffalo,1913.0,1967.0,New York City,male,United States of America,"painter, university teacher, printmaker, colla...",['New York City'],[]
1,Adnan Coker,"Abstract Art, Abstract Expressionism",Abstract Art,"{Abstract Art:25},{Abstract Expressionism:3}",28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
2,Akkitham Narayanan,Abstract Art,Abstract Art,{Abstract Art:17},17,Kerala,1939.0,NaN,NaN,NaN,NaN,NaN,[],[]
3,Alberto Magnelli,"Abstract Art, Art Nouveau (Modern), Cubism, Ex...",Abstract Art,"{Abstract Art:19},{Art Nouveau (Modern):2},{Cu...",35,Florence,1888.0,1971.0,Meudon,male,Italy,"illustrator, painter","['Florence', 'Paris']",[]
4,Alekos Kontopoulos,"Abstract Art, Cubism, Expressionism, Post-Impr...",Social Realism,"{Abstract Art:26},{Cubism:5},{Expressionism:10...",79,Lamia,1904.0,1975.0,Athens,male,Greece,"writer, painter",[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,Serhij Schyschko,Unknown,Academic Art,{Unknown:9},9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3199,Vudon Baklytsky,Unknown,Soviet Nonconformist Art,{Unknown:46},46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3200,Wolfgang Tillmans,Unknown,Contemporary,{Unknown:9},9,Remscheid,1968.0,NaN,NaN,male,Germany,"photographer, printmaker","['New York City', 'Berlin', 'London']",['New York City:1996-1996']
3201,Wu Daozi,Unknown,Tang Dynasty (618–907),{Unknown:8},8,Chang'an,680.0,NaN,NaN,NaN,NaN,NaN,[],[]
3202,Olowe of Ise,Yoruba,Native Art,{Yoruba:13},13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]

Example:

In [2]:
import httpimport

with httpimport.remote_repo('https://raw.githubusercontent.com/me9hanics/sparql-wikidata-data-collection/main/'):
    import functions as external_functions

In [5]:
external_functions.get_all_person_info("Rembrandt")

{'name': 'Rembrandt',
 'birth_place': 'Leiden',
 'birth_date': '1977-03-15T00:00:00Z',
 'death_date': '2001-10-30T00:00:00Z',
 'death_place': 'Amsterdam',
 'gender': 'male organism',
 'citizenship': 'Dutch Republic',
 'occupation': ['drawer',
  'printmaker',
  'etcher',
  'art collector',
  'collector',
  'painter'],
 'work_locations': [{'location': 'Amsterdam',
   'start_time': '1623-01-01T00:00:00Z',
   'end_time': '1625-01-01T00:00:00Z',
   'point_in_time': None},
  {'location': 'Amsterdam',
   'start_time': '1631-01-01T00:00:00Z',
   'end_time': '1669-01-01T00:00:00Z',
   'point_in_time': None},
  {'location': 'Leiden',
   'start_time': '1625-01-01T00:00:00Z',
   'end_time': '1631-01-01T00:00:00Z',
   'point_in_time': None},
  {'location': 'Leiden',
   'start_time': '1620-01-01T00:00:00Z',
   'end_time': '1624-01-01T00:00:00Z',
   'point_in_time': None}]}

In [6]:
df = artists_wikiart.copy()
unprocessed_painters = [painter for painter in artists_wikiart['artist'] if df.loc[df['artist']==painter, 'gender'].isnull().values[0] == True]

### Partial fetching (querying 1 painter at a time), slower but more reliable:

Warning: this should take over long (5 hours in practice), as Wikidata only accepts 30 queries per minute.

In [31]:
for painter in unprocessed_painters:
    if df.loc[df['artist']==painter,'gender'].isnull().values[0]==False: #We already processed this painter
        continue
    painter_json = external_functions.get_person_info_retry_after(painter, placeofbirth = False, dateofbirth = False)
    if painter_json:
        df.loc[df['artist'] == painter, 'death_year'] = external_functions.find_year(painter_json['death_date'])
        df.loc[df['artist'] == painter, 'death_place'] = painter_json['death_place']
        df.loc[df['artist'] == painter, 'gender'] = painter_json['gender']
        df.loc[df['artist'] == painter, 'citizenship'] = painter_json['citizenship']
        df.loc[df['artist'] == painter, 'occupations'] = ', '.join((painter_json['occupation']))
        df.loc[df['artist'] == painter, 'locations'] = external_functions.get_places_from_response(painter_json)
        df.loc[df['artist'] == painter, 'locations_with_years'] = external_functions.get_places_with_years_from_response(painter_json)

df

Error fetching data for David Michael Hinnebusch, status code: 429.
Attempt 1 of 3.
Error fetching data for Jorge Martins, status code: 429.
Attempt 1 of 3.
Error fetching data for Stepan Ryabchenko, status code: 429.
Attempt 1 of 3.
Error fetching data for Arthur Pinajian, status code: 429.
Attempt 1 of 3.
Error fetching data for Elmer Bischoff, status code: 429.
Attempt 1 of 3.
Error fetching data for Ilse D'Hollander, status code: 429.
Attempt 1 of 3.
Error fetching data for Marcia Hafif, status code: 429.
Attempt 1 of 3.
Error fetching data for Richard Smith, status code: 429.
Attempt 1 of 3.
Error fetching data for Ronnie Landfield, status code: 429.
Attempt 1 of 3.
Error fetching data for Theodoros Stamos, status code: 429.
Attempt 1 of 3.
Error fetching data for Warren Rohrer, status code: 429.
Attempt 1 of 3.
Error fetching data for Adalbert Schaffer, status code: 429.
Attempt 1 of 3.
Error fetching data for Alexandre Cabanel, status code: 429.
Attempt 1 of 3.
Error fetching data for Briton Riviere, status code: 429.
Attempt 1 of 3.
Error fetching data for Claude Monet, status code: 429.
Attempt 1 of 3.
Error fetching data for Francesc Masriera, status code: 429.
Attempt 1 of 3.
Error fetching data for George Folingsby, status code: 429.
Attempt 1 of 3.
Error fetching data for Henri-Paul Motte, status code: 429.
Attempt 1 of 3.
Error fetching data for Jean-François Portaels, status code: 429.
Attempt 1 of 3.
Error fetching data for Jules Bastien-Lepage, status code: 429.
Attempt 1 of 3.
Error fetching data for Lili Elbe, status code: 429.
Attempt 1 of 3.
Error fetching data for Marià Fortuny, status code: 429.
Attempt 1 of 3.
Error fetching data for Oleg Holosiy, status code: 429.
Attempt 1 of 3.
Error fetching data for Raja Ravi Varma, status code: 429.
Attempt 1 of 3.
Error fetching data for Vasily Surikov, status code: 429.
Attempt 1 of 3.
Error fetching data for Franz Kline, status code: 429.
Attempt 1 of 3.
Error fetching data for August Natterer, status code: 429.
Attempt 1 of 3.
Error fetching data for Louis Pons, status code: 429.
Attempt 1 of 3.
Error fetching data for Bernardo Marques, status code: 429.
Attempt 1 of 3.
Error fetching data for Gregorio Sciltian, status code: 429.
Attempt 1 of 3.
Error fetching data for Raphael Delorme, status code: 429.
Attempt 1 of 3.
Error fetching data for Alberto Burri, status code: 429.
Attempt 1 of 3.
Error fetching data for Aurel Cojan, status code: 429.
Attempt 1 of 3.
Error fetching data for Emilio Scanavino, status code: 429.
Attempt 1 of 3.
Error fetching data for Francois Arnal, status code: 429.
Attempt 1 of 3.
Error fetching data for Herbert Zangs, status code: 429.
Attempt 1 of 3.
Error fetching data for Jean Messagier, status code: 429.
Attempt 1 of 3.
Error fetching data for Kim Tschang-yeul, status code: 429.
Attempt 1 of 3.
Error fetching data for Mario Schifano, status code: 429.
Attempt 1 of 3.
Error fetching data for Paolo Scheggi, status code: 429.
Attempt 1 of 3.
Error fetching data for Samuel Buri, status code: 429.
Attempt 1 of 3.
Error fetching data for Akseli Gallen-Kallela, status code: 429.
Attempt 1 of 3.
Error fetching data for Anne Brigman, status code: 429.
Attempt 1 of 3.
Error fetching data for Boris Kustodiev, status code: 429.
Attempt 1 of 3.
Error fetching data for Dmitri Zhilinsky, status code: 429.
Attempt 1 of 3.
Error fetching data for Emile Galle, status code: 429.
Attempt 1 of 3.
Error fetching data for Fernand Khnopff, status code: 429.
Attempt 1 of 3.
Error fetching data for Fujishima Takeji, status code: 429.
Attempt 1 of 3.
Error fetching data for Heinrich Lefler, status code: 429.
Attempt 1 of 3.
Error fetching data for J. E. H. MacDonald, status code: 429.
Attempt 1 of 3.
Error fetching data for Jury Annenkov, status code: 429.
Attempt 1 of 3.
Error fetching data for Leonetto Cappiello, status code: 429.
Attempt 1 of 3.
Error fetching data for Martin Munkácsi, status code: 429.
Attempt 1 of 3.
Error fetching data for Nicholas Roerich, status code: 429.
Attempt 1 of 3.
Error fetching data for Raphael Kirchner, status code: 429.
Attempt 1 of 3.
Error fetching data for Teodor Axentowicz, status code: 429.
Attempt 1 of 3.
Error fetching data for Victor Borisov-Musatov, status code: 429.
Attempt 1 of 3.
Error fetching data for Adam Elsheimer, status code: 429.
Attempt 1 of 3.
Error fetching data for Albert Bierstadt, status code: 429.
Attempt 1 of 3.
Error fetching data for Canaletto, status code: 429.
Attempt 1 of 3.
Error fetching data for David Bailly, status code: 429.
Attempt 1 of 3.
Error fetching data for Francesco Solimena, status code: 429.
Attempt 1 of 3.
Error fetching data for Gerard van Honthorst, status code: 429.
Attempt 1 of 3.
Error fetching data for Guido Reni, status code: 429.
Attempt 1 of 3.
Error fetching data for Isaac van Ostade, status code: 429.
Attempt 1 of 3.
Error fetching data for Jan Cossiers, status code: 429.
Attempt 1 of 3.
Error fetching data for Joachim Wtewael, status code: 429.
Attempt 1 of 3.
Error fetching data for Juan Bautista Maíno, status code: 429.
Attempt 1 of 3.
Error fetching data for Louise Moillon, status code: 429.
Attempt 1 of 3.
Error fetching data for Mestre Ataíde, status code: 429.
Attempt 1 of 3.
Error fetching data for Paul Bril, status code: 429.
Attempt 1 of 3.
Error fetching data for Rosa Bonheur, status code: 429.
Attempt 1 of 3.
Error fetching data for Simon de Vlieger, status code: 429.
Attempt 1 of 3.
Error fetching data for William Dobson, status code: 429.
Attempt 1 of 3.
Error fetching data for Jerzy Nowosielski, status code: 429.
Attempt 1 of 3.
Error fetching data for Franz Xaver Winterhalter, status code: 429.
Attempt 1 of 3.
Error fetching data for Angelo de Sousa, status code: 429.
Attempt 1 of 3.
Error fetching data for Emma Amos, status code: 429.
Attempt 1 of 3.
Error fetching data for Pedro Calapez, status code: 429.
Attempt 1 of 3.
Error fetching data for Yves Gaucher, status code: 429.
Attempt 1 of 3.
Error fetching data for Anima Ehtiat, status code: 429.
Attempt 1 of 3.
Error fetching data for Bernd and Hilla Becher, status code: 429.
Attempt 1 of 3.
Error fetching data for Dennis Oppenheim, status code: 429.
Attempt 1 of 3.
Error fetching data for Giulio Paolini, status code: 429.
Attempt 1 of 3.
Error fetching data for Hito Steyerl, status code: 429.
Attempt 1 of 3.
Error fetching data for Joao Vieira, status code: 429.
Attempt 1 of 3.
Error fetching data for Liam Gillick, status code: 429.
Attempt 1 of 3.
Error fetching data for Marcel Broodthaers, status code: 429.
Attempt 1 of 3.
Error fetching data for Mel Bochner, status code: 429.
Attempt 1 of 3.
Error fetching data for On Kawara, status code: 429.
Attempt 1 of 3.
Error fetching data for Robert Filliou, status code: 429.
Attempt 1 of 3.
Error fetching data for Stephen Prina, status code: 429.
Attempt 1 of 3.
Error fetching data for Walter De Maria, status code: 429.
Attempt 1 of 3.
Error fetching data for Georges Vantongerloo, status code: 429.
Attempt 1 of 3.
Error fetching data for Yaacov Agam, status code: 429.
Attempt 1 of 3.
Error fetching data for Le Corbusier, status code: 429.
Attempt 1 of 3.
Error fetching data for Saul Steinberg, status code: 429.
Attempt 1 of 3.
Error fetching data for EtchingRoom1, status code: 429.
Attempt 1 of 3.
Error fetching data for Lalla Essaydi, status code: 429.
Attempt 1 of 3.
Error fetching data for Alejandro Cabeza, status code: 429.
Attempt 1 of 3.
Error fetching data for Devin Leonardi, status code: 429.
Attempt 1 of 3.
Error fetching data for Gilles Aillaud, status code: 429.
Attempt 1 of 3.
Error fetching data for John Currin, status code: 429.
Attempt 1 of 3.
Error fetching data for Morteza Katouzian, status code: 429.
Attempt 1 of 3.
Error fetching data for Samira Eskandarfar, status code: 429.
Attempt 1 of 3.
Error fetching data for Aaron Douglas, status code: 429.
Attempt 1 of 3.
Error fetching data for Bertalan Por, status code: 429.
Attempt 1 of 3.
Error fetching data for Eduardo Viana, status code: 429.
Attempt 1 of 3.
Error fetching data for Giacomo Manzu, status code: 429.
Attempt 1 of 3.
Error fetching data for Jacob Epstein, status code: 429.
Attempt 1 of 3.
Error fetching data for Kmetty János, status code: 429.
Attempt 1 of 3.
Error fetching data for Maria Blanchard, status code: 429.
Attempt 1 of 3.
Error fetching data for Nathan Altman, status code: 429.
Attempt 1 of 3.
Error fetching data for Paul Cezanne, status code: 429.
Attempt 1 of 3.
Error fetching data for Stanley Pinker, status code: 429.
Attempt 1 of 3.
Error fetching data for Wyndham Lewis, status code: 429.
Attempt 1 of 3.
Error fetching data for Hannah Hoch, status code: 429.
Attempt 1 of 3.
Error fetching data for Simon Stalenhag, status code: 429.
Attempt 1 of 3.
Error fetching data for Eugène Atget, status code: 429.
Attempt 1 of 3.
Error fetching data for Antonio del Pollaiolo, status code: 429.
Attempt 1 of 3.
Error fetching data for Fra Angelico, status code: 429.
Attempt 1 of 3.
Error fetching data for Masaccio, status code: 429.
Attempt 1 of 3.
Error fetching data for Alberto Carneiro, status code: 429.
Attempt 1 of 3.
Error fetching data for Richard Long, status code: 429.
Attempt 1 of 3.
Error fetching data for Alan Stephens Foster, status code: 429.
Attempt 1 of 3.
Error fetching data for Alfred Krupa, status code: 429.
Attempt 1 of 3.
Error fetching data for Antonio Carneiro, status code: 429.
Attempt 1 of 3.
Error fetching data for Bela Czobel, status code: 429.
Attempt 1 of 3.
Error fetching data for Carlos Botelho, status code: 429.
Attempt 1 of 3.
Error fetching data for Constant Permeke, status code: 429.
Attempt 1 of 3.
Error fetching data for Edwin Dickinson, status code: 429.
Attempt 1 of 3.
Error fetching data for Georg Tappert, status code: 429.
Attempt 1 of 3.
Error fetching data for Hans Bellmer, status code: 429.
Attempt 1 of 3.
Error fetching data for Ivan Albright, status code: 429.
Attempt 1 of 3.
Error fetching data for Jose Clemente Orozco, status code: 429.
Attempt 1 of 3.
Error fetching data for Kees van Dongen, status code: 429.
Attempt 1 of 3.
Error fetching data for Luis Dourdil, status code: 429.
Attempt 1 of 3.
Error fetching data for Marin Gherasim, status code: 429.
Attempt 1 of 3.
Error fetching data for Milița Petrașcu, status code: 429.
Attempt 1 of 3.
Error fetching data for Otto Constantin, status code: 429.
Attempt 1 of 3.
Error fetching data for Petre Abrudan, status code: 429.
Attempt 1 of 3.
Error fetching data for Rudolf Láng, status code: 429.
Attempt 1 of 3.
Error fetching data for Tia Peltz, status code: 429.
Attempt 1 of 3.
Error fetching data for Vytautas Kasiulis, status code: 429.
Attempt 1 of 3.
Error fetching data for Émilie Charmy, status code: 429.
Attempt 1 of 3.
Error fetching data for Alan Lee, status code: 429.
Attempt 1 of 3.
Error fetching data for Henri Manguin, status code: 429.
Attempt 1 of 3.
Error fetching data for Cindy Sherman, status code: 429.
Attempt 1 of 3.
Error fetching data for Senga Nengudi, status code: 429.
Attempt 1 of 3.
Error fetching data for Sliman Mansour, status code: 429.
Attempt 1 of 3.
Error fetching data for Charles Hinman, status code: 429.
Attempt 1 of 3.
Error fetching data for Bartolomeo Veneto, status code: 429.
Attempt 1 of 3.
Error fetching data for Giorgione, status code: 429.
Attempt 1 of 3.
Error fetching data for Sebastiano del Piombo, status code: 429.
Attempt 1 of 3.
Error fetching data for Aleksander Gierymski, status code: 429.
Attempt 1 of 3.
Error fetching data for António de Carvalho da Silva Porto, status code: 429.
Attempt 1 of 3.
Error fetching data for Benjamin Brown, status code: 429.
Attempt 1 of 3.
Error fetching data for Childe Hassam, status code: 429.
Attempt 1 of 3.
Error fetching data for Edward Henry Potthast, status code: 429.
Attempt 1 of 3.
Error fetching data for Fern Coppedge, status code: 429.
Attempt 1 of 3.
Error fetching data for Georgina de Albuquerque, status code: 429.
Attempt 1 of 3.
Error fetching data for Hans am Ende, status code: 429.
Attempt 1 of 3.
Error fetching data for Hoca Ali Riza, status code: 429.
Attempt 1 of 3.
Error fetching data for Ipolit Strambu, status code: 429.
Attempt 1 of 3.
Error fetching data for James Campbell Noble, status code: 429.
Attempt 1 of 3.
Error fetching data for John Henry Twachtman, status code: 429.
Attempt 1 of 3.
Error fetching data for Julius LeBlanc Stewart, status code: 429.
Attempt 1 of 3.
Error fetching data for Lesser Ury, status code: 429.
Attempt 1 of 3.
Error fetching data for Maurice Boitel, status code: 429.
Attempt 1 of 3.
Error fetching data for Mildred Anne Butler, status code: 429.
Attempt 1 of 3.
Error fetching data for Octav Bancila, status code: 429.
Attempt 1 of 3.
Error fetching data for Pierre-Jacques Pelletier, status code: 429.
Attempt 1 of 3.
Error fetching data for Samuel Mutzner, status code: 429.
Attempt 1 of 3.
Error fetching data for Tetyana Yablonska, status code: 429.
Attempt 1 of 3.
Error fetching data for Vasile Popescu, status code: 429.
Attempt 1 of 3.
Error fetching data for William Logsdail, status code: 429.
Attempt 1 of 3.
Error fetching data for Dayou Lu, status code: 429.
Attempt 1 of 3.
Error fetching data for Li Tang, status code: 429.
Attempt 1 of 3.
Error fetching data for Xu Wei, status code: 429.
Attempt 1 of 3.
Error fetching data for Vasily Vereshchagin, status code: 429.
Attempt 1 of 3.
Error fetching data for Carlos Cruz-Diez, status code: 429.
Attempt 1 of 3.
Error fetching data for Wen-Ying Tsai, status code: 429.
Attempt 1 of 3.
Error fetching data for Lisa Yuskavage, status code: 429.
Attempt 1 of 3.
Error fetching data for Émile Friant, status code: 429.
Attempt 1 of 3.
Error fetching data for Laddie John Dill, status code: 429.
Attempt 1 of 3.
Error fetching data for Robert Irwin, status code: 429.
Attempt 1 of 3.
Error fetching data for Emile Claus, status code: 429.
Attempt 1 of 3.
Error fetching data for Genevieve Asse, status code: 429.
Attempt 1 of 3.
Error fetching data for Cagnaccio di San Pietro, status code: 429.
Attempt 1 of 3.
Error fetching data for Leonor Fini, status code: 429.
Attempt 1 of 3.
Error fetching data for Tobias Verhaecht, status code: 429.
Attempt 1 of 3.
Error fetching data for Andre Cadere, status code: 429.
Attempt 1 of 3.
Error fetching data for Gego, status code: 429.
Attempt 1 of 3.
Error fetching data for Johannes Jan Schoonhoven, status code: 429.
Attempt 1 of 3.
Error fetching data for Niele Toroni, status code: 429.
Attempt 1 of 3.
Error fetching data for Robert Ryman, status code: 429.
Attempt 1 of 3.
Error fetching data for Victor Bonato, status code: 429.
Attempt 1 of 3.
Error fetching data for Nicholas of Verdun, status code: 429.
Attempt 1 of 3.
Error fetching data for Johnny Warangkula Tjupurrula, status code: 429.
Attempt 1 of 3.
Error fetching data for Felix Philipp Kanitz, status code: 429.
Attempt 1 of 3.
Error fetching data for Fernando Botero, status code: 429.
Attempt 1 of 3.
Error fetching data for William Hawkins, status code: 429.
Attempt 1 of 3.
Error fetching data for Konrad Lueg, status code: 429.
Attempt 1 of 3.
Error fetching data for Betty Goodwin, status code: 429.
Attempt 1 of 3.
Error fetching data for Graca Morais, status code: 429.
Attempt 1 of 3.
Error fetching data for Michel Majerus, status code: 429.
Attempt 1 of 3.
Error fetching data for Vasan Sitthiket, status code: 429.
Attempt 1 of 3.
Error fetching data for Charles Angrand, status code: 429.
Attempt 1 of 3.
Error fetching data for Florin Ciulache, status code: 429.
Attempt 1 of 3.
Error fetching data for Takashi Murakami, status code: 429.
Attempt 1 of 3.
Error fetching data for Angelica Kauffman, status code: 429.
Attempt 1 of 3.
Error fetching data for Charles Willson Peale, status code: 429.
Attempt 1 of 3.
Error fetching data for François Gérard, status code: 429.
Attempt 1 of 3.
Error fetching data for Jean Auguste Dominique Ingres, status code: 429.
Attempt 1 of 3.
Error fetching data for Joseph Anton Koch, status code: 429.
Attempt 1 of 3.
Error fetching data for Nicolas Antoine Taunay, status code: 429.
Attempt 1 of 3.
Error fetching data for Vladimir Borovikovsky, status code: 429.
Attempt 1 of 3.
Error fetching data for Michael Bell, status code: 429.
Attempt 1 of 3.
Error fetching data for Hans Baldung, status code: 429.
Attempt 1 of 3.
Error fetching data for Jan van Hemessen, status code: 429.
Attempt 1 of 3.
Error fetching data for Martin Schongauer, status code: 429.
Attempt 1 of 3.
Error fetching data for Mimmo Rotella, status code: 429.
Attempt 1 of 3.
Error fetching data for Luis Tomasello, status code: 429.
Attempt 1 of 3.
Error fetching data for David Wilkie, status code: 429.
Attempt 1 of 3.
Error fetching data for Horace Vernet, status code: 429.
Attempt 1 of 3.
Error fetching data for Théodore Géricault, status code: 429.
Attempt 1 of 3.
Error fetching data for Valerie Jaudon, status code: 429.
Attempt 1 of 3.
Error fetching data for Heinrich Kuhn, status code: 429.
Attempt 1 of 3.
Error fetching data for Dieter Asmus, status code: 429.
Attempt 1 of 3.
Error fetching data for Kenneth Price, status code: 429.
Attempt 1 of 3.
Error fetching data for R. B. Kitaj, status code: 429.
Attempt 1 of 3.
Error fetching data for Valerio Adami, status code: 429.
Attempt 1 of 3.
Error fetching data for Edouard Cortes, status code: 429.
Attempt 1 of 3.
Error fetching data for Le Pho, status code: 429.
Attempt 1 of 3.
Error fetching data for Roger Fry, status code: 429.
Attempt 1 of 3.
Error fetching data for Ann Hamilton, status code: 429.
Attempt 1 of 3.
Error fetching data for Guy Mees, status code: 429.
Attempt 1 of 3.
Error fetching data for Michael Bolus, status code: 429.
Attempt 1 of 3.
Error fetching data for Jef Verheyen, status code: 429.
Attempt 1 of 3.
Error fetching data for Duccio, status code: 429.
Attempt 1 of 3.
Error fetching data for Aleksey Savrasov, status code: 429.
Attempt 1 of 3.
Error fetching data for Antonio Mancini, status code: 429.
Attempt 1 of 3.
Error fetching data for Constant Troyon, status code: 429.
Attempt 1 of 3.
Error fetching data for Efim Volkov, status code: 429.
Attempt 1 of 3.
Error fetching data for Grigoriy Myasoyedov, status code: 429.
Attempt 1 of 3.
Error fetching data for James Webb, status code: 429.
Attempt 1 of 3.
Error fetching data for Kitty Lange Kielland, status code: 429.
Attempt 1 of 3.
Error fetching data for Panos Terlemezian, status code: 429.
Attempt 1 of 3.
Error fetching data for Vasily Perov, status code: 429.
Attempt 1 of 3.
Error fetching data for William Sidney Cooper, status code: 429.
Attempt 1 of 3.
Error fetching data for Allan Ramsay, status code: 429.
Attempt 1 of 3.
Error fetching data for George Romney, status code: 429.
Attempt 1 of 3.
Error fetching data for Johann Anton de Peters, status code: 429.
Attempt 1 of 3.
Error fetching data for Pietro Longhi, status code: 429.
Attempt 1 of 3.
Error fetching data for Adolphe Joseph Thomas Monticelli, status code: 429.
Attempt 1 of 3.
Error fetching data for Angelo Zoffoli, status code: 429.
Attempt 1 of 3.
Error fetching data for Caspar David Friedrich, status code: 429.
Attempt 1 of 3.
Error fetching data for Eduard von Grützner, status code: 429.
Attempt 1 of 3.
Error fetching data for Franz Richard Unterberger, status code: 429.
Attempt 1 of 3.
Error fetching data for George Stubbs, status code: 429.
Attempt 1 of 3.
Error fetching data for Henry Fuseli, status code: 429.
Attempt 1 of 3.
Error fetching data for Jan Matejko, status code: 429.
Attempt 1 of 3.
Error fetching data for John Glover, status code: 429.
Attempt 1 of 3.
Error fetching data for Karl Bodmer, status code: 429.
Attempt 1 of 3.
Error fetching data for Marcus Larson, status code: 429.
Attempt 1 of 3.
Error fetching data for Pavel Svinyin, status code: 429.
Attempt 1 of 3.
Error fetching data for Richard Caton Woodville Jr., status code: 429.
Attempt 1 of 3.

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
0,Ad Reinhardt,"Abstract Art, Abstract Expressionism, Color Fi...",Abstract Expressionism,"{Abstract Art:15},{Abstract Expressionism:5},{...",52,Buffalo,1913.0,1967.0,New York City,male,United States of America,"painter, university teacher, printmaker, colla...",['New York City'],[]
1,Adnan Coker,"Abstract Art, Abstract Expressionism",Abstract Art,"{Abstract Art:25},{Abstract Expressionism:3}",28,NaN,NaN,NaN,None,None,None,,[],[]
2,Akkitham Narayanan,Abstract Art,Abstract Art,{Abstract Art:17},17,Kerala,1939.0,NaN,None,None,None,,[],[]
3,Alberto Magnelli,"Abstract Art, Art Nouveau (Modern), Cubism, Ex...",Abstract Art,"{Abstract Art:19},{Art Nouveau (Modern):2},{Cu...",35,Florence,1888.0,1971.0,Meudon,male,Italy,"illustrator, painter","['Florence', 'Paris']",[]
4,Alekos Kontopoulos,"Abstract Art, Cubism, Expressionism, Post-Impr...",Social Realism,"{Abstract Art:26},{Cubism:5},{Expressionism:10...",79,Lamia,1904.0,1975.0,Athens,male,Greece,"writer, painter",[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,Serhij Schyschko,Unknown,Academic Art,{Unknown:9},9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3199,Vudon Baklytsky,Unknown,Soviet Nonconformist Art,{Unknown:46},46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3200,Wolfgang Tillmans,Unknown,Contemporary,{Unknown:9},9,Remscheid,1968.0,NaN,None,male,Germany,"photographer, printmaker","['New York City', 'Berlin', 'London']",['New York City:1996-1996']
3201,Wu Daozi,Unknown,Tang Dynasty (618–907),{Unknown:8},8,Chang'an,680.0,NaN,None,None,None,,[],[]
3202,Olowe of Ise,Yoruba,Native Art,{Yoruba:13},13,NaN,NaN,NaN,None,None,None,,[],[]

We see two types of missing painters' data:
- Painters where there was no information returned, but we got a response returned (e.g. "Adnan Coker", we can see it that his list of locations is not NaN, just an empty list, which means we had a response, but no data)

-  Painters where there was no response returned (e.g. "Vudon Baklytsky")

In [6]:
len(df[df['locations'].isnull()]), len(df[df['gender'].isnull()])

(138, 1560)

138 no-response cases, and 1422 (1560-138) empty-response cases

### Less query fetching (querying 150 painters at a time), faster but less reliable:

2024.02.10 CET afternoon run

**Note**: The external function was modified while adding this update, on 2024.02.10. Before that, artists had multiple responses (based their occupations list and locations list).

In [9]:
unprocessed_painters = [painter for painter in artists_wikiart['artist'] if df.loc[df['artist']==painter, 'gender'].isnull().values[0] == True]
responses = external_functions.get_multiple_people_all_info(unprocessed_painters)

We got some missing data of artists this way (800+ instances):

In [15]:
no_response_painters =[]
modified_painters = []
for painter in unprocessed_painters:
    if not df.loc[df['artist']==painter, "gender"].isnull().values[0]: #We expect None values, any other value means we already processed this
        continue
    try:
        response_list = [response for response in responses if response['name']==painter][0]
    except IndexError:
        no_response_painters.append(painter)
        #There was no response for this painter
        continue
    #The try-except can be replace with using the "next" function: response_list=next((response for response in responses if response['name']==painter), None) then check if response_list is None
    if pd.isnull(df.loc[df['artist'] == painter, 'death_year']).values[0]:
        df.loc[df['artist'] == painter, 'death_year'] = external_functions.find_year(response_list['death_date'])
    if pd.isnull(df.loc[df['artist'] == painter, 'death_place']).values[0]:
        df.loc[df['artist'] == painter, 'death_place'] = response_list['death_place']
    if pd.isnull(df.loc[df['artist'] == painter, 'gender']).values[0]:
        df.loc[df['artist'] == painter, 'gender'] = response_list['gender'] 
    if pd.isnull(df.loc[df['artist'] == painter, 'citizenship']).values[0]:
        df.loc[df['artist'] == painter, 'citizenship'] = response_list['citizenship']
    if pd.isnull(df.loc[df['artist'] == painter, 'occupations']).values[0] or df.loc[df['artist'] == painter, 'occupations'].values[0] in ([], "[]"):
        df.loc[df['artist'] == painter, 'occupations'] = ', '.join((response_list['occupation']))
    if pd.isnull(df.loc[df['artist'] == painter, 'locations']).values[0] or df.loc[df['artist'] == painter, 'locations'].values[0] in ([], "[]"):
        df.loc[df['artist'] == painter, 'locations'] = external_functions.get_places_from_response(response_list)
    if pd.isnull(df.loc[df['artist'] == painter, 'locations_with_years']).values[0] or df.loc[df['artist'] == painter, 'locations_with_years'].values[0] in ([], "[]"):
        df.loc[df['artist'] == painter, 'locations_with_years'] = external_functions.get_places_with_years_from_response(response_list)
    modified_painters.append(painter)

In [26]:
df.to_csv('datasets/wikiart_artists.csv', index=False)

But many still missing:

In [20]:
df[df['gender'].isnull()]

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
1,Adnan Coker,"Abstract Art, Abstract Expressionism",Abstract Art,"{Abstract Art:25},{Abstract Expressionism:3}",28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
2,Akkitham Narayanan,Abstract Art,Abstract Art,{Abstract Art:17},17,Kerala,1939.0,NaN,NaN,NaN,NaN,NaN,[],[]
8,Alfred Freddy Krupa,"Abstract Art, Abstract Expressionism, Academic...",New Ink Art,"{Abstract Art:1},{Abstract Expressionism:1},{A...",735,Karlovac,1971.0,NaN,NaN,NaN,NaN,NaN,[],[]
13,Amin Aghaei,"Abstract Art, Magic Realism",Contemporary,"{Abstract Art:6},{Magic Realism:10}",16,Isfahan,1982.0,NaN,NaN,NaN,NaN,NaN,[],[]
14,Andrzej Nowacki,Abstract Art,Abstract Art,{Abstract Art:26},26,Rabka-Zdrój,1953.0,NaN,NaN,NaN,NaN,NaN,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3192,Pablo Rey,Unknown,Contemporary,{Unknown:30},30,Barcelona,1968.0,NaN,NaN,NaN,NaN,NaN,[],[]
3198,Serhij Schyschko,Unknown,Academic Art,{Unknown:9},9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3199,Vudon Baklytsky,Unknown,Soviet Nonconformist Art,{Unknown:46},46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3201,Wu Daozi,Unknown,Tang Dynasty (618–907),{Unknown:8},8,Chang'an,680.0,NaN,NaN,NaN,NaN,NaN,[],[]
3202,Olowe of Ise,Yoruba,Native Art,{Yoruba:13},13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]

In [21]:
len(df[df['locations'].isnull()]), len(df[df['gender'].isnull()])

(135, 732)

For other painters without a response, let's check the most matching painter name, possibly we can find the correct name for getting a response:

In [22]:
import requests

painter_names_url = 'https://raw.githubusercontent.com/me9hanics/PainterPalette/main/painter_names_200k.txt'
wiki_painter_names_200k = requests.get(painter_names_url).text.splitlines()

Let's first find exact name matches, as it can be fastly done with numpy (remember that wiki_painter_names_200k has ~200000 names nearly, we need to be resourceful).<br>
We'd expect to find 0 exact matches:

In [23]:
import numpy as np

missing_data_painters = [painter['artist'] for index, painter in df[df['gender'].isnull()].iterrows()]
same_name_painters = np.intersect1d(missing_data_painters, wiki_painter_names_200k)
no_match_painters = np.setdiff1d(missing_data_painters, wiki_painter_names_200k)
same_name_painters

array(['Adnan Coker', 'Adolf Fleischmann', 'Adriana Varejão',
       'Agim Sulaj', 'Aki Kuroda', 'Akira Kanayama', 'Akkitham Narayanan',
       'Alan Lee', 'Albert Bitran', 'Albert Huie', 'Albert Julius Olsson',
       'Alberto Gironella', 'Alberto Sotio', 'Alejandro Cabeza',
       'Aleksandra Ekster', 'Alexander Khvostenko-Khvostov',
       'Alexandre Jacovleff', 'Alfred Freddy Krupa', 'Ali Akbar Sadeghi',
       'Ali Omar Ermes', "Allan D'Arcangelo", 'Andrei Rublev',
       'Andrey Shishkin', 'Andrzej Nowacki', 'Anne Truitt',
       'Anthony Sims', 'Antoine Blanchard', 'Antonietta Raphael',
       'Archibald Thorburn', 'Armin Andreas Pangerl', 'Arnulf Rainer',
       'Arsen Savadov', 'Arthur Pan', 'Ashley Bickerton', 'Ay-O',
       'Aydin Aghdashloo', 'Bahman Mohasses', 'Banksy',
       'Barbara Chase-Riboud', 'Barrington Watson', 'Basil Beattie',
       'Beatriz González', 'Beatriz Milhazes', 'Benny Andrews',
       'Bernardo Marques', 'Bernd Luz', 'Betty Goodwin', 'Billy Childish',
       'Bob Law', 'Boyukagha Mirzazade', 'Bracha L. Ettinger',
       'Brian Froud', 'Byam Shaw', 'C. R. W. Nevinson', 'Carlos Almaraz',
       'Carlos Alonso', 'Carlos Botelho', 'Carlos Nadal',
       'Carlos Orozco Romero', 'Charles E. Burchfield', 'Charles Jacque',
       'Charles Spencelayh', 'Charles Tunnicliffe', 'Charles de Steuben',
       'Charuvi Agrawal', 'Christopher Wilmarth', 'Claude Tousignant',
       'Claude Viallat', 'Claudio Tozzi', 'Clifford Possum Tjapaltjarri',
       'Conroy Maddox', 'Consuelo Hernández', 'Craig Mullins',
       'Dale Hickey', 'Damien Hirst', 'Dan Witz', 'Dana Levin',
       'Daniel Buren', 'Daniel Dezeuze', 'Daniel Spoerri',
       'Darren Waterston', 'David Lynch', 'David Scott', 'Denise Green',
       'Donald Sultan', 'Dora Boneva', 'Dorothea Rockburne', 'Dr. Atl',
       'Dumitru Gorzo', 'Edna Andrade', 'Edward Avedisian',
       'Edward R. Taylor', 'El Anatsui', 'Elenore Abbott',
       'Elmer Bischoff', 'Emma Amos', 'Enrico Castellani', 'Enzo Cucchi',
       'Eric Fischl', 'Erin Hanson', 'Ernesto Neto',
       'Ethel Léontine Gabain', 'Ettore Spalletti', 'Eugene Lanceray',
       'Eugene de Blaas', 'Eva Janina Wieczorek', 'Eyvind Earle',
       'Fairfield Porter', 'Ferenc Pinter', 'Fernand Leduc',
       'Fernando Calhau', 'Forrest Bess', 'Francisco Goya',
       'Frank Lobdell', 'Frank Xavier Leyendecker', 'Fred Williams',
       'Frederick George Cotman', 'Félix Louis Leullier', 'Gandy Brodie',
       'Gary Hume', 'Gebre Kristos Desta', 'Georg Baselitz',
       'Georg Miciú', 'George Ault', 'George Pemba', 'George Tooker',
       'Georges Lallemand', 'Georges Ribemont-Dessaignes',
       'Georges Rochegrosse', 'Georgi Kovachev', 'Gianni Piacentino',
       'Gillian Ayres', 'Giorgio Griffa', 'Giovanni da Milano',
       'Giulio Clovio', 'Giulio Paolini', 'Giuseppe Pinot-Gallizio',
       'Godfrey Blow', 'Grace Pailthorpe', 'Graham Bell',
       'Graydon Parrish', 'Gretchen Andrew', 'Guan Zilan', 'Guity Novin',
       'Gustave Singier', 'Hanne Darboven', 'Hans Holbein the Younger',
       'Haralampi G. Oroschakoff', 'Hendrick Cornelisz Vroom',
       'Henri Catargi', 'Henri Michaux', 'Henry Darger',
       'Henry Villierme', 'Henry William Banks Davis',
       'Henry van de Velde', 'Herman de Vries', 'Hong Song-dam',
       'Horia Damian', 'Howard Arkley', 'Howard Mehring',
       'Hubertine Heijermans', 'Ian Burn', 'Ian Davenport', 'Ilya Repin',
       'Imi Knoebel', 'Ion Grigorescu', 'Ismail Shammout',
       'Israel Tsvaygenbaum', 'Ivan Rutkovych', 'Jacek Yerka',
       'Jacob Collins', 'Jacqueline Hick', 'Jacqueline Lamba',
       'Jahar Dasgupta', 'James Campbell', 'James Campbell Noble',
       'James Lesesne Wells', 'James Turrell', 'Jamie Wyeth',
       'Jammie Holmes', 'Jan Brueghel the Elder', 'Jan Dibbets',
       'Jan Joest', 'Jane Wilson', 'Janet Fish', 'Javad Hamidi',
       'Jean Dupas', 'Jean Messagier', 'Jean Miotte', 'Jean-André Rixens',
       'Jeffrey Smart', 'Jennifer Bartlett', 'Jeremy Henderson',
       'Jeremy Moon', 'Jessie Arms Botke', 'Jim Dine', 'Jim Lambie',
       'Joan Snyder', 'Joe Goode', 'Joe Machine', 'Joe Tilson',
       'John Gibson', 'John Henderson', 'John Stuart Ingle',
       'Johnny Warangkula Tjupurrula', 'Jorge Castillo', 'Jorge Martins',
       'Jose Clemente Orozco', 'Josef Herman', 'Joseph Cornell',
       'Joseph Pace', 'Josignacio', 'Joyce Kozloff', 'Julian Stanczak',
       'Kaloust Guedel', 'Kent Bellows', 'Kiki Smith', 'Kim Prisu',
       'Kitty Lange Kielland', 'Konstantinos Maleas',
       'Konstantinos Volanakis', 'Kristoffer Zetterstrand',
       'Kuno Gonschior', 'Lan Ying', 'Landon Mackenzie', 'Leiko Ikemura',
       'Leo Leuppi', 'Leo Steel', 'Leon Berkowitz', 'Leon Polk Smith',
       'Leonid Šejka', 'Li Chevalier', 'Li Huasheng', 'Liam Gillick',
       'Lilia Carrillo', 'Lorser Feitelson', 'Lucas Cranach the Elder',
       'Lucian Grigorescu', 'Luigi Guardigli', 'Luis Camnitzer',
       'Luke Chueh', 'Ma Yuan', 'Mahmoud Farshchian',
       'Manfred Kielnhofer', 'Manuel Rodríguez Lozano',
       'Marcelino Vespeira', 'Marcia Hafif', 'Marcos Zapata',
       'Marie-Thérèse Auffray', 'Marinus van Reymerswaele',
       'Mario Comensoli', 'Mario Tozzi', 'Mario Zanini',
       'Marjorie Strider', 'Mark Ryden', 'Marlene Dumas',
       'Martha Diamond', 'Martial Raysse', 'Martin Yeoman', 'Mary Corse',
       'Mary Josephine Walters', 'Maurice Prendergast', 'Max Gubler',
       'Maximilian Pirner', 'Mel Ramsden', 'Melissa Meyer',
       'Michael Bell', 'Michael Hafftka', 'Michel Kikoine',
       'Michel Parmentier', 'Michelangelo Pistoletto', 'Mihai Olos',
       'Mikhail Shibanov', 'Mily Possoz', 'Mircea Cantor', 'Myron Stout',
       'Nasreddine Dinet', 'Nathaniel Hone the Younger', 'Nelson Shanks',
       'Nikolai Ge', 'Nikolaus Knüpfer', 'Nikolay Bogdanov-Belsky',
       'Njideka Akunyili Crosby', 'Norman Zammitt', 'Nutzi Acontz',
       'Nyoman Masriadi', 'Nzante Spee', 'Octavio Ocampo', 'Odd Nerdrum',
       'Olga Albizu', 'Oliver Kilbourn', 'Olivier Mosset', 'Otto Muehl',
       'Pablo Rey', 'Paritosh Sen', 'Pat Lipsky', 'Pat Steir',
       'Patrick Procktor', 'Paul Brach', 'Paul Feeley', 'Paul Henry',
       'Paul Jacoulet', 'Paul Thek', 'Paul du Toit', 'Pavlo Makov',
       'Pedro Calapez', 'Peter Blake', 'Peter Joseph', 'Peter Max',
       'Peter Phillips', 'Philip Pearlstein', 'Pierre Molinier',
       'Pierre Tal-Coat', 'Pietro Lazzari', 'Pino Daeni', 'Qian Xuan',
       'Ralph Fasanella', 'Ralston Crawford', 'René Marcil',
       'Requena Nozal', 'Richard Oelze', 'Richard Smith', 'Richard Spare',
       'Richard Whitney', 'Rirkrit Tiravanija', 'Robert Barry',
       'Robert Filliou', 'Robert Goodnough', 'Robert Irwin',
       'Robert Mangold', 'Robert Nickle', 'Robert Swain',
       'Roberto Chabet', 'Roberto Ferri', 'Rochelle Blumenfeld',
       'Roland Petersen', 'Romero Britto', 'Ron Gorchov', 'Ronald Bladen',
       'Roni Horn', 'Ronnie Landfield', 'Rosalyn Drexler', 'Rune Jansson',
       'Russ Warren', 'Ruth Vollmer', 'SM Sultan', 'Samuel Bak', 'Seen',
       'Sheila Hicks', 'Shen Zhou', 'Shirin Neshat', 'Sliman Mansour',
       'Sofia Areal', 'Sorin Ilfoveanu', 'Speedy Graphito',
       'Stanley Boxer', 'Stanley Pinker', 'Stay High 149',
       'Stephen Mopope', 'Stephen Mueller', 'Steve Kaufman',
       'Steve Wheeler', 'Stig Brøgger', 'Sun Mu', 'Susan Rothenberg',
       'Tadanori Yokoo', 'Tadashi Kawamata', 'Tal R', 'Tania Bruguera',
       'Taro Yamamoto', 'Terry Frost', 'Tess Jaray', 'Tetsuya Ishida',
       'Theodoros Stamos', 'Thomas Downing', 'Toko Shinoda', 'Tony DeLap',
       'Tony Scherman', 'Toshio Saeki', 'Tsuruko Yamazaki',
       'Ulfert Wilke', 'Vadym Meller', 'Vajiha Samadova',
       'Valerie Jaudon', 'Valerio Adami', 'Varnette Honeywood',
       'Vasan Sitthiket', 'Vasiliy Ryabchenko', 'Victor Borisov-Musatov',
       'Victor Palmov', 'Viktor Pivovarov', 'Vlada Ralko',
       'Vladimir Tretchikoff', 'Wade Guyton', 'Walasse Ting',
       'Walter Darby Bannard', 'Wanda Koop', 'Wang Guangyi',
       'Ward Jackson', 'Wilhelm Sasnal', 'William Balthazar Rose',
       'William Baziotes', 'William Congdon', 'William Hamilton',
       'William James Glackens', 'Wu Daozi', 'Włodzimierz Zakrzewski',
       'Yayoi Kusama', 'Yinka Shonibare', 'Yui Yaegashi', 'Yves Gaucher',
       'Zaya', 'Zhang Xiaogang'], dtype='<U81')

We found that half of the cases are in the list already, which is surprising, either there is no data about them, or we had problems fetching them.

Firstly, there are interestly some cases where we didn't get any non-location data, but we got some location data. We should firstly correct these cases (by simply running the function again for these painters).

In [27]:
partial_missing_data_painters = df[(df['artist'].isin(same_name_painters)) & (df['locations'] != '[]')] ['artist'].tolist()
df[(df['artist'].isin(same_name_painters)) & (df['locations'] != '[]')] [:5]

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
300,Leiko Ikemura,"Abstract Expressionism, Neo-Expressionism",Neo-Expressionism,"{Abstract Expressionism:2},{Neo-Expressionism:10}",12,Tsu,1951.0,NaN,NaN,NaN,NaN,NaN,"['Zürich', 'Cologne', 'Berlin', 'Spain']","['Zürich:1979-1979', 'Spain:1972-1972']"
350,Richard Smith,"Abstract Expressionism, Hard Edge Painting, Po...",Post-Painterly Abstraction,"{Abstract Expressionism:1},{Hard Edge Painting...",20,Detroit,1968.0,1733.0,Saint Michael,NaN,NaN,NaN,"['New York City', 'Brecon']",[]
381,Walasse Ting,"Abstract Expressionism, Naïve Art (Primitivism...",Abstract Expressionism,"{Abstract Expressionism:10},{Naïve Art (Primit...",70,Wuxi,1929.0,2010.0,New York City,NaN,NaN,NaN,"['New York City', 'Amsterdam', 'Paris']",[]
389,Yayoi Kusama,"Abstract Expressionism, Art Brut, Conceptual A...",Feminist Art,"{Abstract Expressionism:1},{Art Brut:2},{Conce...",27,Matsumoto,1929.0,NaN,NaN,NaN,NaN,NaN,"['Netherlands', 'Kyoto', 'New York City', 'Tok...","['Netherlands:1967-1967', 'Tokyo:2000-2015', '..."
431,Eugene de Blaas,"Academicism, Unknown",Academic Art,"{Academicism:96},{Unknown:1}",97,Albano Laziale,1843.0,1931.0,Venice,NaN,NaN,NaN,"['Paris', 'Rome', 'Belgium', 'Venice', 'Nether...",[]

The get_person_info_retry_after() function was modified to be more like the get_all_person_info() function (iterating over multiple results). Let's try now, on all painters in same_name_painters:

In [25]:
df2 = df.copy()

In [33]:
modified_painters_2 = []
for painter in same_name_painters:
    response = external_functions.get_person_info_retry_after(painter, placeofbirth_return = False, dateofbirth_return = False)
    if response:
        if pd.isnull(df.loc[df['artist'] == painter, 'death_year']).values[0]:
            df.loc[df['artist'] == painter, 'death_year'] = external_functions.find_year(response['death_date'])
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'death_place']).values[0]:
            df.loc[df['artist'] == painter, 'death_place'] = response['death_place']
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'gender']).values[0]:
            df.loc[df['artist'] == painter, 'gender'] = response['gender']
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'citizenship']).values[0] or df.loc[df['artist'] == painter, 'citizenship'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'citizenship'] = response['citizenship']
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'occupations']).values[0] or df.loc[df['artist'] == painter, 'occupations'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'occupations'] = ', '.join((response['occupation']))
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'locations']).values[0] or df.loc[df['artist'] == painter, 'locations'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'locations'] = external_functions.get_places_from_response(response)
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'locations_with_years']).values[0] or df.loc[df['artist'] == painter, 'locations_with_years'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'locations_with_years'] = external_functions.get_places_with_years_from_response(response)
            if painter not in modified_painters_2:
                modified_painters_2.append(painter)

df[(df['artist'].isin(same_name_painters)) & (df['locations'] != '[]')]

Error fetching data for Albert Julius Olsson, status code: 429.
Attempt 1 of 3.
Error fetching data for Allan D'Arcangelo, status code: 429.
Attempt 1 of 3.
Error fetching data for Arnulf Rainer, status code: 429.
Attempt 1 of 3.
Error fetching data for Basil Beattie, status code: 429.
Attempt 1 of 3.
Error fetching data for Bracha L. Ettinger, status code: 429.
Attempt 1 of 3.
Error fetching data for Charles Jacque, status code: 429.
Attempt 1 of 3.
Error fetching data for Conroy Maddox, status code: 429.
Attempt 1 of 3.
Error fetching data for Darren Waterston, status code: 429.
Attempt 1 of 3.
Error fetching data for Edward Avedisian, status code: 429.
Attempt 1 of 3.
Error fetching data for Ernesto Neto, status code: 429.
Attempt 1 of 3.
Error fetching data for Fernando Calhau, status code: 429.
Attempt 1 of 3.
Error fetching data for Gebre Kristos Desta, status code: 429.
Attempt 1 of 3.
Error fetching data for Gianni Piacentino, status code: 429.
Attempt 1 of 3.
Error fetching data for Graydon Parrish, status code: 429.
Attempt 1 of 3.
Error fetching data for Henri Michaux, status code: 429.
Attempt 1 of 3.
Error fetching data for Hubertine Heijermans, status code: 429.
Attempt 1 of 3.
Error fetching data for Jacob Collins, status code: 429.
Attempt 1 of 3.
Error fetching data for Jan Dibbets, status code: 429.
Attempt 1 of 3.
Error fetching data for Jennifer Bartlett, status code: 429.
Attempt 1 of 3.
Error fetching data for John Gibson, status code: 429.
Attempt 1 of 3.
Error fetching data for Julian Stanczak, status code: 429.
Attempt 1 of 3.
Error fetching data for Lan Ying, status code: 429.
Attempt 1 of 3.
Error fetching data for Liam Gillick, status code: 429.
Attempt 1 of 3.
Error fetching data for Manfred Kielnhofer, status code: 429.
Attempt 1 of 3.
Error fetching data for Marjorie Strider, status code: 429.
Attempt 1 of 3.
Error fetching data for Maximilian Pirner, status code: 429.
Attempt 1 of 3.
Error fetching data for Mily Possoz, status code: 429.
Attempt 1 of 3.
Error fetching data for Norman Zammitt, status code: 429.
Attempt 1 of 3.
Error fetching data for Pablo Rey, status code: 429.
Attempt 1 of 3.
Error fetching data for Paul du Toit, status code: 429.
Attempt 1 of 3.
Error fetching data for Pietro Lazzari, status code: 429.
Attempt 1 of 3.
Error fetching data for Richard Whitney, status code: 429.
Attempt 1 of 3.
Error fetching data for Roberto Ferri, status code: 429.
Attempt 1 of 3.
Error fetching data for Russ Warren, status code: 429.
Attempt 1 of 3.
Error fetching data for Sorin Ilfoveanu, status code: 429.
Attempt 1 of 3.
Error fetching data for Sun Mu, status code: 429.
Attempt 1 of 3.
Error fetching data for Theodoros Stamos, status code: 429.
Attempt 1 of 3.
Error fetching data for Valerie Jaudon, status code: 429.
Attempt 1 of 3.
Error fetching data for Wade Guyton, status code: 429.
Attempt 1 of 3.
Error fetching data for William Hamilton, status code: 429.
Attempt 1 of 3.

,artist,styles,movement,styles_extended,pictures_count,birth_place,birth_year,death_year,death_place,gender,citizenship,occupations,locations,locations_with_years
300,Leiko Ikemura,"Abstract Expressionism, Neo-Expressionism",Neo-Expressionism,"{Abstract Expressionism:2},{Neo-Expressionism:10}",12,Tsu,1951.0,NaN,None,female,Switzerland,"university teacher, sculptor, painter, illustr...","['Zürich', 'Cologne', 'Berlin', 'Spain']","['Zürich:1979-1979', 'Spain:1972-1972']"
350,Richard Smith,"Abstract Expressionism, Hard Edge Painting, Po...",Post-Painterly Abstraction,"{Abstract Expressionism:1},{Hard Edge Painting...",20,Detroit,1968.0,1733.0,Saint Michael,male,Canada,"Catholic bishop, Catholic priest, film actor, ...","['New York City', 'Brecon']",[]
381,Walasse Ting,"Abstract Expressionism, Naïve Art (Primitivism...",Abstract Expressionism,"{Abstract Expressionism:10},{Naïve Art (Primit...",70,Wuxi,1929.0,2010.0,New York City,male,Republic of China,"graphic artist, painter, illustrator, poet, wr...","['New York City', 'Amsterdam', 'Paris']",[]
389,Yayoi Kusama,"Abstract Expressionism, Art Brut, Conceptual A...",Feminist Art,"{Abstract Expressionism:1},{Art Brut:2},{Conce...",27,Matsumoto,1929.0,NaN,None,female,Japan,"collagist, conceptual artist, video artist, in...","['Netherlands', 'Kyoto', 'New York City', 'Tok...","['Netherlands:1967-1967', 'Tokyo:2000-2015', '..."
431,Eugene de Blaas,"Academicism, Unknown",Academic Art,"{Academicism:96},{Unknown:1}",97,Albano Laziale,1843.0,1931.0,Venice,male,Kingdom of Italy,painter,"['Paris', 'Rome', 'Belgium', 'Venice', 'Nether...",[]
749,Frank Xavier Leyendecker,"Art Nouveau (Modern), Kitsch",Art Nouveau,"{Art Nouveau (Modern):12},{Kitsch:5}",17,Germany,1876.0,1924.0,None,male,Germany,"drawer, painter, illustrator","['Netherlands', 'United States of America']","['Netherlands:1912-1912', 'United States of Am..."
766,Henry van de Velde,"Art Nouveau (Modern), Cloisonnism, Constructiv...",Neo-Impressionism,"{Art Nouveau (Modern):11},{Cloisonnism:1},{Con...",20,Antwerp,1863.0,1957.0,Zürich,male,Germany,painter,['Italy'],[]
937,Jan Brueghel the Elder,Baroque,Baroque,{Baroque:112},112,City of Brussels,1568.0,1625.0,Antwerp,male,Habsburg Netherlands,"architectural draftsperson, graphic artist, pa...","['Rome', 'Spa', 'Naples', 'Netherlands', 'Ital...","['Rome:1592-1594', 'Naples:1590-1590', 'Nether..."
1062,Imi Knoebel,"Color Field Painting, Minimalism",Minimalism,"{Color Field Painting:3},{Minimalism:12}",15,Dresden,1940.0,NaN,None,male,Germany,"video installation artist, sculptor, painter, ...","['United States of America', 'Düsseldorf', 'Da...","['United States of America:1974-1974', 'Düssel..."
1092,Banksy,"Conceptual Art, Graffiti Art, Street art",Street art,"{Conceptual Art:6},{Graffiti Art:1},{Street ar...",30,Yate,1974.0,NaN,None,male,United Kingdom,"artivist, graffiti artist, political activist,...","['London', 'West End', 'New York City', 'Washi...",[]
1107,Damien Hirst,"Conceptual Art, Expressionism, Neo-Pop Art, Un...",Conceptual Art,"{Conceptual Art:14},{Expressionism:2},{Neo-Pop...",29,Bristol,1965.0,NaN,None,male,United Kingdom,"assemblage artist, conceptual artist, installa...","['Berlin', 'Leeds', 'London']","['Leeds:1983-1984', 'London:1984-2009']"
1119,Giulio Paolini,"Conceptual Art, Minimalism, Post-Minimalism",Arte Povera,"{Conceptual Art:9},{Minimalism:3},{Post-Minima...",15,Genoa,1940.0,NaN,None,male,Italy,"conceptual artist, drawer, visual artist, grap...","['Paris', 'Turin']",['Turin:1959-2012']
1131,Hubertine Heijermans,"Conceptual Art, Contemporary Realism, Expressi...",Contemporary Realism,"{Conceptual Art:4},{Contemporary Realism:4},{E...",52,Amsterdam,1936.0,2022.0,None,female,Kingdom of the Netherlands,"lithographer, drawer, printmaker, painter","['Florence', 'France', 'Spain', 'Amsterdam', '...","['Florence:1968-1973', 'France:2006-2009', 'Sp..."
1149,Liam Gillick,Conceptual Art,Relational Art,{Conceptual Art:10},10,Aylesbury,1964.0,NaN,None,male,United Kingdom,"conceptual artist, installation artist, sculpt...","['New York City', 'London']","['New York City:1984-2009', 'London:1984-2009']"
1317,Marlene Dumas,"Contemporary Realism, Neo-Expressionism",Neo-Expressionism,"{Contemporary Realism:2},{Neo-Expressionism:25}",27,Cape Town,1953.0,NaN,None,female,Kingdom of the Netherlands,"collagist, conceptual artist, lithographer, dr...","['Haarlem', 'Amsterdam', 'Cape Town']",[]
1520,James Turrell,"Environmental (Land) Art, Light and Space, Min...",Light and Space,"{Environmental (Land) Art:33},{Light and Space...",135,Los Angeles,1943.0,NaN,None,male,United States of America,"environmental artist, land artist, installatio...","['Amsterdam', 'The Hague', 'Flagstaff']",[]
1545,Alexandre Jacovleff,"Expressionism, Japonism, Neoclassicism",Neoclassicism,"{Expressionism:44},{Japonism:3},{Neoclassicism...",59,Saint Petersburg,1887.0,1938.0,Paris,male,Russian Empire,"pastellist, watercolorist, drawer, graphic art...","['Saint Petersburg', 'Moscow', 'London']",[]
1715,Tal R,"Expressionism, Fauvism, Outsider art",Outsider art (Art brut),"{Expressionism:3},{Fauvism:3},{Outsider art:14}",20,Tel Aviv,1967.0,NaN,None,male,Kingdom of Denmark,"collagist, graphic artist, painter",['Copenhagen'],[]
1774,Kiki Smith,"Feminist Art, Unknown",Feminist Art,"{Feminist Art:42},{Unknown:4}",46,Germany,1954.0,NaN,None,female,United States of America,"architectural draftsperson, printmaker, perfor...",['New York City'],[]
1780,Shirin Neshat,Feminist Art,Feminist Art,{Feminist Art:16},16,Qazvin,1957.0,NaN,None,female,Iran,"video installation artist, opera director, vid...","['Los Angeles', 'New York City', 'Morocco', 'B...",[]
1821,Giulio Clovio,High Renaissance,High Renaissance,{High Renaissance:17},17,Grižane-Belgrad,1498.0,1578.0,Rome,male,None,"painter, illuminator","['Rome', 'Mantua', 'Florence', 'Buda']","['Rome:1538-1551,1516-1516,1553-1578,1526-1527..."
1985,Maurice Prendergast,"Impressionism, Naïve Art (Primitivism), Pointi...",Post-Impressionism,"{Impressionism:107},{Naïve Art (Primitivism):1...",379,St. John's,1858.0,1924.0,New York City,male,United States of America,"drawer, painter","['Boston', 'New York City', 'Rome', 'Venice', ...","['Boston:1861-1891', 'New York City:1896-1924'..."
2052,William James Glackens,"Impressionism, New Realism",Impressionism,"{Impressionism:54},{New Realism:29}",83,Philadelphia,1870.0,1938.0,Westport,male,United States of America,"drawer, painter, illustrator","['Bellport', 'New York City', 'Paris', 'Kingdo...",[]
2097,El Anatsui,"Junk Art, Native Art, Post-Minimalism",Post-Minimalism,"{Junk Art:8},{Native Art:1},{Post-Minimalism:8}",17,Ghana,1944.0,NaN,None,male,Nigeria,"installation artist, textile artist, ceramicis...",['Nigeria'],[]
2319,Daniel Spoerri,"Neo-Dada, Nouveau Réalisme",Neo-Dada,"{Neo-Dada:14},{Nouveau Réalisme:11}",25,Galați,1930.0,NaN,None,male,Romania,"printmaker, performance artist, dancer, direct...",['Paris'],[]
2321,Jim Dine,"Neo-Dada, Pop Art",Neo-Dada,"{Neo-Dada:21},{Pop Art:14}",35,Cincinnati,1935.0,NaN,None,male,United States of America,"illustrator, photographer, assemblage artist, ...","['New York City', 'Paris', 'London', 'Cincinna...",[]
2343,Georg Baselitz,Neo-Expressionism,Neo-Expressionism,{Neo-Expressionism:34},34,Kamenz,1938.0,NaN,None,male,Germany,"printmaker, graphic artist, university teacher...","['Berlin', 'Inning am Ammersee']",[]
2385,Gary Hume,Neo-Pop Art,Neo-Pop Art,{Neo-Pop Art:19},19,Tenterden,1962.0,NaN,None,male,United Kingdom,"conceptual artist, drawer, graphic artist, scu...","['New York City', 'London']",[]
2424,Francisco Goya,"Neoclassicism, Realism, Rococo, Romanticism, U...",Romanticism,"{Neoclassicism:1},{Realism:1},{Rococo:12},{Rom...",406,Fuendetodos,1746.0,1828.0,Bordeaux,male,Spain,"lithographer, drawer, printmaker, etcher, painter","['Italy', 'Cádiz', 'Seville', 'Madrid', 'Borde...","['Italy:1770-1771', 'Madrid:1773-1823,1763-177..."
2440,John Gibson,Neoclassicism,Neoclassicism,{Neoclassicism:33},33,Australia,1970.0,1971.0,Great Neck,male,Australia,"association football player, chemist, lawyer, ...","['London', 'Paris', 'Liverpool', 'Rome', 'Aber...","['London:1817-1817', 'Paris:1817-1817', 'Liver..."
2467,William Hamilton,"Neoclassicism, Rococo, Unknown",Neoclassicism,"{Neoclassicism:42},{Rococo:2},{Unknown:4}",48,Scoonie,1721.0,1861.0,Eldsberga,male,United States of America,"athletics competitor, association football pla...","['Springfield', 'London', 'Naples', 'Ottawa', ...",['Rome:1767-1767']
2488,Hans Holbein the Younger,Northern Renaissance,Northern Renaissance,{Northern Renaissance:150},150,Augsburg,1497.0,1543.0,London,male,Holy Roman Empire,"exlibrist, portraitist, drawer, printmaker, pa...","['Venice', 'Bologna', 'Lucerne', 'Florence', '...",[]
2503,Lucas Cranach the Elder,"Northern Renaissance, Renaissance, Unknown",Northern Renaissance,"{Northern Renaissance:228},{Renaissance:1},{Un...",232,Kronach,1472.0,1553.0,Weimar,male,Holy Roman Empire,"drawer, architectural draftsperson, copperplat...","['Vienna', 'Lutherstadt Wittenberg', 'Weimar']","['Vienna:1501-1504', 'Lutherstadt Wittenberg:1..."
2767,John Henderson,Realism,Realism,{Realism:5},5,Hastings,1928.0,2019.0,Hastings,male,United Kingdom,"classical philologist, philologist, classical ...","['Washington, D.C.', 'Raleigh', 'Jefferson Cit...",[]
2884,David Scott,Romanticism,Romanticism,{Romanticism:30},30,Aynor,1958.0,2021.0,Paddington,male,United States of America,"aircraft pilot, test pilot, military officer, ...","['Washington, D.C.', 'Atlanta', 'London']",[]
2924,James Campbell,Romanticism,Romanticism,{Romanticism:11},11,Bridgeton,1805.0,1783.0,Milford,male,United Kingdom,"academic, university teacher, historian, resea...","['Baltimore', 'Washington, D.C.', 'Stanford']",[]

In [39]:
df.to_csv('datasets/wikiart_artists.csv', index=False)

In [46]:
no_match_painters

array(['3D', 'A.Y. Jackson', 'Adalbert Erdeli', 'Adrian Piper',
       'Alaa Awad', 'Alan Tellez', 'Albrecht Durer', 'Aleksander Belyaev',
       'Alex Hay', 'Alexander Shilov', 'Alexey  Bogolyubov',
       'Alexis Gritchenko', 'Alfred Concanen', 'Alvaro Lapa',
       'Amin Aghaei', 'Andrey Allakhverdov', 'Angel Planells',
       'Anima Ehtiat', 'Ann Hamilton', 'Antonio de La Gándara',
       'António de Carvalho da Silva Porto', 'Arkhyp Kuindzhi',
       'Arne Quinze', 'Arthur Nísio', 'Arthur Pinajian', 'Babak-Matveev',
       'Bahia Shehab', 'Bartolome Esteban Murillo',
       'Benito Quinquela Martin', 'Benoit Maire', 'Bernadette Resha',
       'Bernd and Hilla Becher', 'Berthold  Woltze', 'Blek le Rat',
       'Brassai', 'Cameron Platter', 'Carl-Ludwig Johann Christineck',
       'Carles Delclaux Is', 'Carlos Merida', 'Chaibia Talal',
       'Chaokun Wang', 'Charles-Andre van Loo (Carle van Loo)',
       'Charly Palmer', 'Christo and Jeanne-Claude', 'Chul Hyun Ahn',
       'Clarence Holbrook Carter', 'Claricia', 'Claude-Joseph Vernet',
       'Colette Pope Heldner', 'Constantin Piliuta', 'Cope2',
       'Cornelis Norbertus Gysbrechts', 'Corneliu Michailescu',
       'Cricorps', 'Cristiano Tassinari', 'Cristovao de Figueiredo',
       'Currier and Ives', 'D. Jeffrey Mims', 'Devin Leonardi',
       'Diego Velazquez', 'Ding Yi', 'Do Ho Suh', 'Dolfi Trost',
       'Dominique Gonzalez-Foerster', 'Dorothy Lathrop',
       'Dumitru Ghiatza', 'Edouard Manet', 'Edouard Riou',
       'Edouard Vuillard', 'Edward E. Simmons', 'Edward Ruscha',
       'Efim Volkov', 'Eleonora Brigalda Barbas', 'Emile Bernard',
       'Emiliano Di Cavalcanti', 'Emmanuel Zairis', 'EtchingRoom1',
       'Ethel Reed', 'Eugene Delacroix', 'Fab 5 Freddy', 'Facundus',
       'Felix Vallotton', 'Fikret Mualla Saygi', 'Francis A. Willey',
       'Francisco Serra Andrés', 'Frank Dicksee', 'Frank Holl',
       'Frank Mason', 'Franz Erhard Walther', 'Fusun Onur', 'Futura 2000',
       'Fyodor Solntsev', 'George Frederick Watts',
       'George Hemming Mason', 'George Mavroides', 'George Seeley',
       'Georges Troubat', 'Georgyi Yakutovytch', 'Gevorg Bashindzhagian',
       'Gherasim Luca', 'Giovanni (Nino) Costa', 'Gisela Colon',
       'Giuseppe de Nittis', 'Graca Morais', 'Grace Albee',
       'Gunter Umberg', 'Gunther Gerzso',
       'Gustave-Claude-Etienne Courtois', 'H.R. Giger',
       'Haralampi Tachev', 'Harmonia Rosales', 'Harmony Hammond',
       'Helen Pashgian', 'Hendrick Terbrugghen', 'Henrique Pousao',
       'Herbert Gustave Schmalz (Herbert Carmichael)',
       'Herrad of Landsberg', 'Hildegard of Bingen', 'Hirohiko Araki',
       'Hito Steyerl', 'Honore Daumier', 'Houria Niati', 'Iain Baxter&',
       'Ian Bent', 'Ibrahim Salahi', 'Il Sassetta (Stefano di Giovanni)',
       'Ilya Isupov', 'Ivan Mrkviсka', 'Ivan Nikitin',
       'Ivan Tvorozhnikov', 'J.M.W. Turner', 'JAROSLAV KELUC',
       'Jacqueline Winsor', 'Jan Dirksz Both', 'Jan Sluyters',
       'Jarik Jongman', 'Jerry W. McDaniel', 'Jessica Stockholder',
       'Joan Brull', 'Joao Vieira', 'Johannes Jan Schoonhoven',
       'John Armleder', 'John Austen', 'John Frederick Herring Sr.',
       'John Muafangejo', 'John Vassos', 'John Wilson Carmichael',
       'Jon Mcnaughton', 'JonOne', 'Jose Escada',
       'Jose de Almada-Negreiros', 'Jose de Guimaraes', 'Joseph Dadoune',
       'Joseph Lorusso', 'Joseph Urbania', 'José Garnelo',
       'Jozsef Rippl-Ronai', 'Jules-Alexandre Grun', 'Julio Le Parc',
       'Julio Resende', 'Justin Earl Grant', 'Kansuke Yamamoto',
       'Kateryna Lysovenko', 'Kathe Kollwitz', 'Katrien De Blauwer',
       'Kazuaki Tanahashi', 'Kenneth Price', 'Kent Monkman', 'Kexin Di',
       'Kim Tschang-yeul', 'Kinder Album', 'Kishio Suga', 'Kit Williams',
       'Kmetty János', 'Kukryniksy', 'Lady Frieda Harris',
       'Laolu Senbanjo', 'Lara Almarcegui', 'Le Nain brothers',
       'Leo Villareal', 'Leonid Sejka', 'Limbourg brothers', 'Linder',
       'Lino Tagliapietra', 'Lorenzo Belenguer', 'Lucy Ivanova',
       'Luigi Serafini', 'Luis Dourdil', 'Luis Álvarez Roure',
       'Lyman Kipp', 'M.C. Escher', 'Mahmoud Saiid', 'Manuel Cargaleiro',
       'Marc Horowitz', 'Marevna (Marie Vorobieff)', 'Maria Bozoky',
       'Marjorie Acker Phillips', 'Mark di Suvero', 'Martin Barre',
       'Matsutani', 'Maurice Tabard', 'May Wilson',
       'Meta Vaux Warrick Fuller', 'Michael Bolus', 'Michel Simonidy',
       'Michela De Vito', 'Mihri Musfik', 'Mikhail Olennikov',
       'Miklos Barabas', 'Milița Petrașcu', 'Mona Hatoum',
       'Mykola Yaroshenko', 'Narcisse-Virgilio Diaz', 'Nasreen Mohamedi',
       'Navjot Altaf', 'Nieves Mingueza', 'Noguchi Isamu',
       'Norman Ackroyd', 'Nuno Gonçalves', 'Nuri Iyem',
       'Oleksa Novakivskyi', 'Oleksandr Aksinin', 'Oleksandr Bogomazov',
       'Oleksandr Pashenko', 'Oliver Mark', 'Olowe of Ise', 'Omer Uluc',
       'Oronzo Vito Gasparo', 'Osman Hamdi', 'Oswaldo Guayasamin',
       'Paja Jovanovic', 'Panayiotis Tetsis', 'Paul Paun',
       'Paul Serusier', 'Paula Klien', 'Petro Kholodny (Elder)',
       'Pieter Bruegel the Elder', 'Pietropoli Patrick', 'Quentin Matsys',
       'Rafael García Hispaleto (El Hispaleto)', 'Ramirez Villamizar',
       'Rashid Al Khalifa', 'Ray Howlett', 'Raúl Berzosa',
       'Regine Schumann', 'Rene Bertholo', 'Rene Magritte',
       'Richard Caton Woodville Sr.', 'Richard Deacon',
       'Robert De Niro, Sr.', 'Robert Heinecken', 'Rodrigo Franzao',
       'Rolf Amstrong', 'Romul Nutiu', 'Rosario Weiss Zorrilla',
       'Rosemarie Beck', 'Rosemary Karuga', 'Ruth Annaqtuusi Tulurialik',
       'Sallinen Tyko', 'Sami Gattoufi', 'Samia Halaby',
       'Samuel Dirksz van Hoogstraten', 'Samuel Morse',
       'Santiago Rusinol', 'Sarunas Sauka', 'Saul Zanolari', 'Se-Ok Suh',
       'Senga Nengudi', 'Sergey Belik', 'Sergio Mario Illuminato',
       'Sergiy Grigoriev', 'Serhij Schyschko', 'Shadi Ghadirian',
       'Shin Yoon-bok', 'Shozo Shimamoto', 'Simeon Velkov',
       'Simon Stalenhag', 'Simone Forti', 'Sonaly Gandhi',
       'Sonya Rapoport', 'Spyros Papaloukas', 'Stefan Sevastre',
       'Stepan Ryabchenko', 'Stephen Prina', 'T. C. Steele', 'TAKI 183',
       'TRACY 168', 'Takamatsu Jiro', 'Taro Okamoto',
       'The Game of Marseille', 'Theodule Ribot', 'Thiago Boecan',
       'Thomas Hirschhorn', 'Thomas Riesner', 'Toros Roslin',
       'Tran Van Can', 'Umehara Ryuzaburo', 'Valeria Trubina',
       'Valerii Lamakh', 'Victo Ngai', 'Victor Zaretsky',
       'Viktor Lyapkalo', 'Viktor Shatalin', 'Vilen Barsky',
       'Viorel Marginean', 'Virginia Frances Sterrett',
       'Vladimir Bonacic', 'Volodymyr Bondarenko', 'Vudon Baklytsky',
       'Vytautas Kairiukstis', 'Wenceslaus Hollar', 'Wilhelm Kotarbinski',
       'William Tucker', 'YiFei Chen', 'Zahrah Al-Ghamdi',
       'Zdzislaw Beksinski', '[ a y s h ]', 'Édouard De Bièfve',
       "Émile Prisse d'Avennes"], dtype='<U44')

In [53]:
import difflib
def similarity(s1, s2):
    return difflib.SequenceMatcher(None, s1, s2).ratio()

#Could use numpy to be faster, but this is fine for now
pairs = pd.DataFrame(columns=['artist','"Best" Wiki200k pair','similarity', 'Character difference'])
for name in no_match_painters:
    all_sims = []
    max_sim = 0
    for wiki_name in wiki_painter_names_200k:
        similarity_score = similarity(name, wiki_name)
        character_difference = (1-similarity_score)*len(name)
        if similarity_score >= max_sim: #Runtime reasons
            max_sim = similarity_score
            all_sims.append((similarity_score,character_difference, wiki_name))
        if (character_difference<0.01) | ((character_difference < 1.02) & (len(name)>5)):#1 Character difference, runtime reasons
            break
        
    final_maximum = max(sims[0] for sims in all_sims) 
    for sims in all_sims:
        if sims[0] == final_maximum: #Just take the highest ones
            if pairs.empty: #Could simply concat it, but then we'dget a FutureWarning
                pairs = pd.DataFrame([[name, sims[2], sims[0], sims[1]]], columns=['artist','"Best" Wiki200k pair','similarity', 'Character difference'])
            pairs = pd.concat([pairs, pd.DataFrame([[name, sims[2], sims[0], sims[1]]], columns=['artist','"Best" Wiki200k pair','similarity', 'Character difference'])])    
pairs.sort_values(by=['similarity'], ascending=False)

,artist,"""Best"" Wiki200k pair",similarity,Character difference
0,Richard Caton Woodville Sr.,"Richard Caton Woodville, Sr.",0.981818,0.490909
0,John Frederick Herring Sr.,"John Frederick Herring, Sr.",0.981132,0.490566
0,Pieter Bruegel the Elder,Pieter Brueghel the Elder,0.979592,0.489796
0,George Frederick Watts,George Frederic Watts,0.976744,0.511628
0,Colette Pope Heldner,Collette Pope Heldner,0.975610,0.487805
...,...,...,...,...
0,[ a y s h ],Harry Fish,0.476190,5.761905
0,[ a y s h ],Mary Brush,0.476190,5.761905
0,JAROSLAV KELUC,ROA,0.352941,9.058824
0,JAROSLAV KELUC,JAS,0.352941,9.058824
0,JAROSLAV KELUC,KEL,0.352941,9.058824

In [58]:
pairs = pairs.reset_index(drop=True)

In [85]:
pairs.sort_values(by=['similarity'], ascending=False)[0:5]

,artist,"""Best"" Wiki200k pair",similarity,Character difference
291,Richard Caton Woodville Sr.,"Richard Caton Woodville, Sr.",0.981818,0.490909
168,John Frederick Herring Sr.,"John Frederick Herring, Sr.",0.981132,0.490566
279,Pieter Bruegel the Elder,Pieter Brueghel the Elder,0.979592,0.489796
106,George Frederick Watts,George Frederic Watts,0.976744,0.511628
59,Colette Pope Heldner,Collette Pope Heldner,0.975610,0.487805

In [72]:
pairs_dict ={}
for index, row in pairs[:90].iterrows():
    pairs_dict[row['artist']] = row['"Best" Wiki200k pair']
pairs_dict.update({'Jose de Guimaraes': 'José de Guimarães', 'Jan Sluyters':'Jan Sluijters', 'Shin Yoon-bok': 'Shin Yun-bok', 'Hendrick Terbrugghen': 'Hendrick ter Brugghen',
                   'Gevorg Bashindzhagian':'Gevorg Bashinjaghian', 'Kim Tschang-yeul': 'Kim Tschang Yeul', 'Alexander Shilov':'Aleksandr Shilov',
                    'Efim Volkov':'Yefim Volkov', 'Efim Volkov':'Shôzô Shimamoto', 'Serhij Schyschko': 'Serhii Shyshko', 'Samuel Dirksz van Hoogstraten': 'Samuel van Hoogstraten',
                    'Miklos Barabas': 'Miklós Barabás', 'Brassai': 'Brassaï', 'Linder': 'I Linder', 'Marjorie Acker Phillips': 'Marjorie Phillips', 'Spyros Papaloukas': 'Spiros Papalucas',
                    'George Mavroides': 'Giorgos Mavroides', 'Sarunas Sauka': 'Šarūnas Sauka', 'Rene Bertholo': 'René Bértholo', 'Oleksandr Bogomazov': 'Alexander Bogomazov',
                    'Lady Frieda Harris': 'Frieda Harris', 'Maria Bozoky': 'Mária Bozóky', 'Eleonora Brigalda Barbas':'Eleonora Brigalda', 'Dumitru Ghiatza': 'Dumitru Ghiață',
                    'Arthur Nísio': 'Arthur José Nísio', 'Oleksandr Aksinin': 'Alexander Aksinin', 'Fab 5 Freddy': 'Fab Five Freddy', 'Edward Ruscha': 'Ed Ruscha',
                    'Georgyi Yakutovytch': 'Heorhii Yakutovych', 'Angel Planells': 'Angel Planells playes', 'Giovanni (Nino) Costa': 'Giovanni Costa',
                    'Quentin Matsys':'Quinten Metsys', 'Ramirez Villamizar':'Eduardo Ramírez Villamizar', 'Ivan Tvorozhnikov':'Ivan Ivanovich Tvorozhnikov',
                    'Clarence Holbrook Carter': 'Clarence Carter', 'Julio Le Parc': 'julio le parc', 'Rafael García Hispaleto (El Hispaleto)': 'Rafael García y Hispaleto',
                    'Tran Van Can': 'Trần Văn Cẩn', 'Marevna (Marie Vorobieff)': 'Marie Vorobieff', 'Emiliano Di Cavalcanti': 'Di Cavalcanti', 'Il Sassetta (Stefano di Giovanni)': 'Stefano di Giovanni',
                    'Jan Both':'Jan Dirksz Both', 'Charles-Andre van Loo (Carle van Loo)': 'Charles-André van Loo', 'Herbert Gustave Schmalz (Herbert Carmichael)': 'Herbert Gustave Schmalz',
                    'Meta Vaux Warrick Fuller': 'Warwick Fuller', 'Mihri Musfik':'Mihri Müşfik Hanım', 'TRACY 168': 'Tracy 168'})

In [81]:
modified_painters_3 = [] #For painters whose alias we found
modified_painters_4 = [] #For those we didn't
for painter in no_match_painters:
    if painter in pairs_dict:
        alias = pairs_dict[painter]
        modifying_list = modified_painters_3 #Just for less writing down below
    else:
        alias = painter
        modifying_list = modified_painters_4
    response = external_functions.get_person_info_retry_after(alias, )
    if response:
        df.loc[df['artist'] == painter, 'birth_year'] = external_functions.find_year(response['birth_date'])
        df.loc[df['artist'] == painter, 'birth_place'] = response['birth_place']
        if pd.isnull(df.loc[df['artist'] == painter, 'death_year']).values[0]:
            df.loc[df['artist'] == painter, 'death_year'] = external_functions.find_year(response['death_date'])
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'death_place']).values[0]:
            df.loc[df['artist'] == painter, 'death_place'] = response['death_place']
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'gender']).values[0]:
            df.loc[df['artist'] == painter, 'gender'] = response['gender']
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'citizenship']).values[0] or df.loc[df['artist'] == painter, 'citizenship'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'citizenship'] = response['citizenship']
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'occupations']).values[0] or df.loc[df['artist'] == painter, 'occupations'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'occupations'] = ', '.join((response['occupation']))
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'locations']).values[0] or df.loc[df['artist'] == painter, 'locations'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'locations'] = external_functions.get_places_from_response(response)
            if painter not in modifying_list:
                modifying_list.append(painter)
        if pd.isnull(df.loc[df['artist'] == painter, 'locations_with_years']).values[0] or df.loc[df['artist'] == painter, 'locations_with_years'].values[0] in ([], "[]"):
            df.loc[df['artist'] == painter, 'locations_with_years'] = external_functions.get_places_with_years_from_response(response)
            if painter not in modifying_list:
                modifying_list.append(painter)
    if painter in pairs_dict:
        modified_painters_3 = modifying_list
    else:
        modified_painters_4 = modifying_list

Error fetching data for Alfred Cohen, status code: 429.
Attempt 1 of 3.
Error fetching data for Aarne Nurminen, status code: 429.
Attempt 1 of 3.
Error fetching data for Berthold Woltze, status code: 429.
Attempt 1 of 3.
Error fetching data for Carl Palme, status code: 429.
Attempt 1 of 3.
Error fetching data for Corneliu Michăilescu, status code: 429.
Attempt 1 of 3.
Error fetching data for Don Drost, status code: 429.
Attempt 1 of 3.
Error fetching data for Émile Bernard, status code: 429.
Attempt 1 of 3.
Error fetching data for Giovanni Costa, status code: 429.
Attempt 1 of 3.
Error fetching data for I Linder, status code: 429.
Attempt 1 of 3.
Error fetching data for Rafael García y Hispaleto, status code: 429.
Attempt 1 of 3.

In [98]:
df.to_csv('datasets/wikiart_artists.csv', index=False)

This is quite some improvement.

We are only really left with:
- 319-113=206 painters for whom we didn't find an alias (Among whom are at least 83-2 are painters who never had any response, therefore has None for locations)
- 2 painters whom we did have an alias for, but not a response

Overall, we have 83 painters with no new data, and 22 more painters who miss some "trivial" data.

### --- PARTIAL SAVES --- (2024.02.10 3:30 AM UTC and 3:20 PM UTC)

In [33]:
artists_wikiart.to_csv('datasets/saves/wikiart_artists.csv', index=False)
df.to_csv('datasets/wikiart_artists.csv', index=False)